In [1]:
import numpy as np 
import pandas as pd 
import os
import re
import string
import numpy as np 
import random
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from plotly import graph_objs as go
import plotly.express as px
import plotly.figure_factory as ff
from collections import Counter

from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator


import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from tqdm import tqdm
import os
import nltk
import spacy
import random

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
def clean_text(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [4]:
df = pd.read_csv("spam.csv", encoding="latin-1")

df = df.dropna(how="any", axis=1)
df.columns = ['target', 'message']

df.head()

  target                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df['message_len'] = df['message'].apply(lambda x: len(x.split(' ')))
df.head()

  target                                            message  message_len
0    ham  Go until jurong point, crazy.. Available only ...           20
1    ham                      Ok lar... Joking wif u oni...            6
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...           28
3    ham  U dun say so early hor... U c already then say...           11
4    ham  Nah I don't think he goes to usf, he lives aro...           13

In [6]:
df['message_clean'] = df['message'].apply(clean_text)
df.head()

,target,message,message_len,message_clean
0,ham,"Go until jurong point, crazy.. Available only ...",20,go until jurong point crazy available only in ...
1,ham,Ok lar... Joking wif u oni...,6,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,free entry in a wkly comp to win fa cup final...
3,ham,U dun say so early hor... U c already then say...,11,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,nah i dont think he goes to usf he lives aroun...

In [7]:
stop_words = stopwords.words('english')
more_stopwords = ['u', 'im', 'c']
stop_words = stop_words + more_stopwords

def remove_stopwords(text):
    text = ' '.join(word for word in text.split(' ') if word not in stop_words)
    return text
    
df['message_clean'] = df['message_clean'].apply(remove_stopwords)
df.head()

,target,message,message_len,message_clean
0,ham,"Go until jurong point, crazy.. Available only ...",20,go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,6,ok lar joking wif oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,free entry wkly comp win fa cup final tkts m...
3,ham,U dun say so early hor... U c already then say...,11,dun say early hor already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,nah dont think goes usf lives around though

In [8]:
stemmer = nltk.SnowballStemmer("english")

def stemm_text(text):
    text = ' '.join(stemmer.stem(word) for word in text.split(' '))
    return text

In [9]:
df['message_clean'] = df['message_clean'].apply(stemm_text)
df.head()

,target,message,message_len,message_clean
0,ham,"Go until jurong point, crazy.. Available only ...",20,go jurong point crazi avail bugi n great world...
1,ham,Ok lar... Joking wif u oni...,6,ok lar joke wif oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,free entri wkli comp win fa cup final tkts m...
3,ham,U dun say so early hor... U c already then say...,11,dun say earli hor alreadi say
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,nah dont think goe usf live around though

In [10]:
def preprocess_data(text):
    # Clean puntuation, urls, and so on
    text = clean_text(text)
    # Remove stopwords
    text = ' '.join(word for word in text.split(' ') if word not in stop_words)
    # Stemm all the words in the sentence
    text = ' '.join(stemmer.stem(word) for word in text.split(' '))
    
    return text

In [11]:
df['message_clean'] = df['message_clean'].apply(preprocess_data)
df.head()

,target,message,message_len,message_clean
0,ham,"Go until jurong point, crazy.. Available only ...",20,go jurong point crazi avail bugi n great world...
1,ham,Ok lar... Joking wif u oni...,6,ok lar joke wif oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,free entri wkli comp win fa cup final tkts m...
3,ham,U dun say so early hor... U c already then say...,11,dun say ear hor alreadi say
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,nah dont think goe usf live around though

In [12]:
df.head(-5)

,target,message,message_len,message_clean
0,ham,"Go until jurong point, crazy.. Available only ...",20,go jurong point crazi avail bugi n great world...
1,ham,Ok lar... Joking wif u oni...,6,ok lar joke wif oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,free entri wkli comp win fa cup final tkts m...
3,ham,U dun say so early hor... U c already then say...,11,dun say ear hor alreadi say
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,nah dont think goe usf live around though
...,...,...,...,...
5562,ham,Ok lor... Sony ericsson salesman... I ask shuh...,18,ok lor soni ericsson salesman ask shuhui say q...
5563,ham,Ard 6 like dat lor.,5,ard like dat lor
5564,ham,Why don't you wait 'til at least wednesday to ...,15,dont wait til least wednesday see get
5565,ham,Huh y lei...,3,huh lei
5566,spam,REMINDER FROM O2: To get 2.50 pounds free call...,28,remind get pound free call credit detail gre...

In [13]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

# Document Expansion

In [14]:
from nltk.corpus import wordnet
from nltk.stem import PorterStemmer
def wordnet_doc_expansion(doc,k=3):
    ps = PorterStemmer()
    upd_doc = doc.split()
    synonyms =[]
    res=[w for w in upd_doc]
    for q in upd_doc:
        q_stem=ps.stem(q)
        for syn in wordnet.synsets(q_stem):
            for l in syn.lemmas():
                synonyms.append(l.name())
        synonyms=list(set(synonyms))
        synonyms=synonyms[:k]
        for w in synonyms:
            w_stem=ps.stem(w)
            if  w_stem!=q_stem:
                  res.append(w)
            synonyms=[]
    return ' '.join(res)

In [15]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Unzipping corpora/omw-1.4.zip.

True

In [16]:
i = 'mean fat head'
upd_doca = ['mean', 'fat', 'head']
resa =[w for w in upd_doca]
resa

['mean', 'fat', 'head']

In [17]:
from nltk.corpus import wordnet
from nltk.stem import PorterStemmer
ps = PorterStemmer()

ps.stem('meaning')

'mean'

In [18]:
documents = df['message_clean']
docs_expansion = []
for i in documents:
  docs_expansion.append(wordnet_doc_expansion(i,1))
# docs_expansion = wordnet_doc_expansion(documents,2)

In [19]:
docs_expansion

['go jurong point crazi avail bugi n great world la e buffet cine got amor wat crack direct help northward with_child earthly_concern Pelican_State east sideboard grow Cupid',
 'ok lar joke wif oni all_right laugh Office_of_Naval_Intelligence',
 'free entri wkli comp win fa cup final tkts may text fa receiv entri questionstd txt ratetc appli free_people advance transfuse terminal',
 'dun say ear hor alreadi say grayish_brown pronounce auricle pronounce',
 'nah dont think goe usf live around though imagine endure close_to',
 'freemsg hey darl week word back id like fun still tb ok xxx std chgs send  rcv workweek binding same merriment inactive T.B. all_right 30 social_disease direct',
 'even brother like speak treat like aid patent fifty-fifty comrade same verbalize goody same help manifest',
 'per request mell mell oru minnaminungint nurungu vettam set callertun caller press copi friend callertun bespeak go_under telephoner weigh supporter',
 'winner valu network custom select receivea  prize reward claim call claim code valid hour success web customs_duty choice lever honor title call_option title codification minute',
 'mobil month r entitl updat latest colour mobil camera free call mobil updat co free gas_constant late people_of_colour tv_camera free_people call_option Centennial_State free_people',
 'gonna home soon dont want talk stuff anymor tonight k ive cri enough today abode before_long deficiency verbalize pig_out one_thousand adequate now',
 'six chanc win cash pound txt send cost tsandc appli repli hl info sextet advance hard_currency British_pound_sterling direct toll hectolitre',
 'urgent week free membership  prize jackpot txt word claim tc lccltd pobox pressing workweek free_people rank lever title atomic_number_43',
 'ive search right word thank breather promi wont take help grant fulfil promi wonder bless time hunting rectify breathing_spell habit direct help_oneself Ulysses_Simpson_Grant satisfy sign prison_term',
 'date sunday go_steady William_Ashley_Sunday',
 'xxxmobilemovieclub use credit click wap link next txt messag click xxxmobilemovieclubcomnqjkgighjjgcbl habit acknowledgment penetrate connexion side_by_side penetrate',
 'oh kim watch Ohio vigil',
 'eh rememb spell name yes v naughti make v wet go nominate quintet build quintet plastered',
 'fine that way feel that way gota b all_right agency spirit agency group_B',
 'england v macedonia dont miss goalsteam news txt ur nation team eg england trywal scotland quintet Macedon misfire word land',
 'serious spell name go nominate',
 'i\x89m go tri month ha ha joke crack laugh',
 ' pay first lar da stock comin earnings kickoff pedigree',
 'aft finish lunch go str lor ard smth lor finish ur lunch alreadi close crack close',
 'ffffffffff alright way meet sooner all_right agency conform_to rather',
 'forc eat slice realli hungri tho suck mark get worri know sick turn pizza lol eat_up slash wet-nurse stain grow bang cast wrick',
 'lol alway convinc',
 'catch bus fri egg make tea eat mom left dinner feel love apprehension testis build teatime eat_up momma remaining spirit bang',
 'back amp pack car ill let know room binding coterie elevator_car ominous Army_of_the_Righteous bang elbow_room',
 'ahhh work vagu rememb feel like lol oeuvre spirit same',
 'wait still clear sure sarcast x doesnt want live us delay inactive clear_up for_sure go deficiency endure U.S.A.',
 'yeah got v apologet n fallen actin like spoilt child got caught till wont go bad cheer yea grow quintet northward hang same muff shaver grow catch money_box habit crack jolly_along',
 'k tell anyth one_thousand separate',
 'fear faint housework quick cuppa veneration feeble',
 'thank subscript rington uk mobil charg  plea confirm repli yes repli charg inferior supplication substantiate',
 'yup ok go home look time msg  xuhui go learn may lesson all_right crack abode flavor prison_term monosodium_glutamate crack memorize',
 'oop ill let know roommat done ominous Army_of_the_Righteous bang suffice',
 'see letter b car examine alphabetic_character group_B elevator_car',
 'anyth lor decid',
 'hello saturday go text see youd decid anyth tomo tri invit anyth how-do-you-do Sabbatum crack examine',
 'pls go ahead watt want sure great weekend abiola crack leading W deficiency for_sure with_child',
 'forget tell want need crave love sweet arabian steed mmmmmm yummi draw_a_blank separate deficiency motive bang dessert Arab',
 'rodger burn msg tri call repli sms free nokia mobil free camcord plea call deliveri tomorrow burn_down monosodium_glutamate call_option samarium free_people free_people supplication call_option',
 'see examine',
 'great hope like man well endow ltgt inch with_child desire same humanity intimately empower edge',
 'callsmessagesmiss call call_option',
 'didnt get hep b immuni nigeria grow group_B',
 'fair enough anyth go sightly adequate crack',
 'yeah hope tyler cant could mayb ask around bit yea desire President_Tyler cant_over necessitate close_to bite',
 'dont know stubborn didnt even want go hospit kept tell mark weak sucker hospit weak sucker bang refractory fifty-fifty deficiency crack unbroken separate stain imperfect chump imperfect chump',
 'think first time saw class imagine kickoff prison_term examine course_of_instruction',
 'gram usual run like ltgt half eighth smarter though get almost whole second gram ltgt gm endure same one-half 8th chic grow most solid indorsement gm',
 'k fyi x ride ear tomorrow morn hes crash place tonight one_thousand go devolve_on auricle helium break_apart station',
 'wow never realiz embarass accomod thought like sinc best could alway seem happi cave sorri didnt dont give sorri offer sorri room embarass belly_laugh imagine same Charles_Herbert_Best appear spring go elbow_room',
 'sms ac sptv new jersey devil detroit red wing play ice hockey correct incorrect end repli end sptv samarium atomic_number_89 Modern Garden_State get_at bolshy extension wager field_hockey discipline wrong terminate terminate',
 'know mallika sherawat yesterday find lturlgt bang witness',
 'congrat year special cinema pass call suprman v etc free dont miss twelvemonth limited go_past call_option quintet free_people misfire',
 'sorri ill call later meet ominous call_option subsequently conform_to',
 'tell reach separate get_to',
 'yesgauti sehwag odi seri',
 'gonna pick burger way home cant even move pain kill pickax Warren_Burger agency abode cant_over fifty-fifty act infliction',
 'ha ha ha good joke girl situat seeker just laugh little_girl',
 'part check iq separate check_up_on I.Q.',
 'sorri roommat took forev ok come direct all_right fall',
 'ok lar doubl check wif da hair dresser alreadi said wun cut v short said cut look nice all_right check_up_on fuzz aforementioned abbreviate quintet brusque aforementioned abbreviate flavor prissy',
 'valu custom plea advi follow recent review mob award  bonus prize call customs_duty supplication watch_over Holocene reexamine jam accolade lever call_option',
 'today song dedic day song dedic send ur valuabl frnds first rpli now call call direct kickoff',
 'urgent ur award complimentari trip eurodisinc trav  claim txt dis  pressing accolade trip-up title',
 'hear new divorc barbi come ken stuff get_a_line Modern fall cognizance pig_out',
 'plane give month end aeroplane spring terminate',
 'wah lucki man save money hee humanity write',
 'finish class close course_of_instruction',
 'hi babe home wanna someth xx baby abode twenty',
 'kkwhere youhow perform do',
 'call call_option',
 'wait machan call free delay call_option free_people',
 'cool gentleman treat digniti respect nerveless valet goody regard',
 'like peopl much shi pa same a_lot protactinium',
 'oper ltgt',
 'still look job much tas earn inactive flavor subcontract a_lot atomic_number_73 pull_in',
 'sorri ill call later ominous call_option subsequently',
 'k call ah one_thousand call_option',
 'ok way home hi hi all_right agency abode',
 'place man station humanity',
 'yup next stop side_by_side blockade',
 'call later dont network urgnt sms call_option subsequently web samarium',
 'real get yo need ticket one jacket done alreadi use multi real_number grow motive fine unrivaled crown suffice habit',
 'yes start send request make pain came back back bed doubl coin factori gotta cash nitro kickoff direct bespeak build infliction fall binding binding bang mint hard_currency',
 'realli still tonight babe inactive baby',
 'ela kanoil download come wen ur free fall free_people',
 'yeah don\x89t stand close tho you\x89ll catch someth yea endure confining apprehension',
 'sorri pain ok meet anoth night spent late afternoon casualti mean havent done includ time sheet sorri infliction all_right conform_to washed-out recently entail suffice prison_term tack',
 'smile pleasur smile pain smile troubl pour like rain smile hurt smile becoz someon still love see smile grinning grinning infliction grinning same rain_down grinning pain grinning inactive bang examine grinning',
 'plea call custom servic repr guarant  cash  prize supplication call_option customs_duty hard_currency lever',
 'havent plan buy later check alreadi lido got show e afternoon finish work alreadi contrive corrupt subsequently check_up_on grow demonstrate east close oeuvre',
 'free rington wait collect simpli text password mix verifi get usher britney fml free_people delay word grow James_Ussher',
 'watch telugu moviewat abt vigil',
 'see finish load loan pay examine close lade loanword earnings',
 'hi wk ok hol yes bit run forgot hairdress appoint four need get home n shower beforehand caus prob u ham all_right bite endure draw_a_blank nominate motive grow abode northward cascade overplay',
 'plea dont text anymor noth el say supplication elevated_railroad pronounce',
 'okay name ur price long legal wen pick ave x xx all_right nominate toll farsighted pickax go twenty',
 'still look car buy gone drive test yet inactive flavor elevator_car corrupt endure force examine heretofore',
 'per request mell mell oru minnaminungint nurungu vettam set callertun caller press copi friend callertun bespeak go_under telephoner weigh supporter',
 'wow right didnt mean guess gave boston men chang search locat nyc someth chang cuz signin page still say boston belly_laugh rectify entail guesswork move_over Hub_of_the_Universe humanity Chang_Jiang hunting Chang_Jiang varlet inactive pronounce Hub_of_the_Universe',
 'umma life vava umma love lot dear Islamic_Ummah life_story Islamic_Ummah bang dish_out',
 'thank lot wish birthday thank make birthday truli memor dish_out regard build',
 'aight ill hit get cash ominous bang grow hard_currency',
 'would ip address test consid comput isnt minecraft server informatics direct examine waiter',
 'know grumpi old peopl mom like better lie alway one play joke bang one-time momma same punter lie_down unrivaled wager laugh',
 'dont worri guess hes busi guesswork helium',
 'plural noun research inquiry',
 'go dinnermsg crack',
 'ok wif cos like tri new thing scare dun like mah cos said loud all_right Centennial_State same Modern panic_attack grayish_brown same Centennial_State aforementioned brassy',
 'gent tri contact last weekend draw show  prize guarant call claim code valid adjoin endure force demonstrate lever call_option title codification',
 'wa ur openin sentenc formal anyway fine juz tt eatin much n puttin weighthaha anythin special happen conventional in_any_case all_right ephemeris_time a_lot northward limited materialise',
 'enter cabin pa said happi bday boss felt special askd lunch lunch invit apart went get_in protactinium aforementioned political_boss mat_up limited asunder endure',
 'winner special select receiv  holiday flight inc speak live oper claim success limited choice escape verbalize endure title',
 'goodo yes must speak friday eggpotato ratio tortilla need mustiness verbalize Fri motive',
 'hmmmi uncl inform hes pay school direct pls buy food helium earnings school_day corrupt',
 'privat account statement show unredeem bonus point claim call identifi code expir invoice assertion demonstrate direct title call_option codification',
 'urgent mobil award  bonus caller prize final tri contact call landlin pressing accolade telephoner lever terminal adjoin call_option',
 'new address applespairs malarki Modern direct',
 'today voda number end select receiv award match plea call quot claim code standard rate app now act terminate choice accolade mates supplication call_option title codification measure',
 'go sao mu today done crack now suffice',
 ' predict wat time ll finish buy forecast prison_term close corrupt',
 'good stuff just pig_out',
 'knowyetund hasnt sent money yet sent text bother send dont involv anyth shouldnt impo anyth first place apolog direct heretofore direct hassle direct kickoff station',
 'room elbow_room',
 'hey girl r hope r well del r bak long time give call sum time lucyxx little_girl gas_constant desire gas_constant intimately gas_constant farsighted prison_term spring call_option nub prison_term',
 'kkhow much cost a_lot toll',
 'home abode',
 'dear call tmorrowpl accomod call_option',
 'first answer question kickoff solution doubtfulness',
 'sunshin quiz wkli q win top soni dvd player know countri algarv txt ansr  sptyron test advance superlative thespian bang',
 'want get laid tonight want real dog locat sent direct ur mob join uk largest dog network bt txting gravel nt deficiency grow deficiency real_number blackguard direct jam conjoin with_child blackguard web get_at',
 'haf msn yijuehotmailcom',
 'call meet call_option conform_to',
 'check room befor activ check_up_on elbow_room',
 'youll rcv msgs chat svc free hardcor servic text go get noth must age verifi yr network tri monosodium_glutamate free_people crack grow mustiness get_on twelvemonth web',
 'got lazi type forgot  lect saw pouch like v nice grow typewrite draw_a_blank examine bulge same quintet prissy',
 'k text way one_thousand agency',
 'sir wait mail delay chain_mail',
 'swt thought nver get tire littl thing lovabl person cozsomtim littl thing occupi biggest part heart gud imagine grow fag somebody self-aggrandizing separate nub',
 'know pls open back bang binding',
 'yes see ya dot examine back_breaker',
 'staff name take class us stave nominate direct course_of_instruction U.S.A.',
 'freemsg havent repli text randi sexi femal live local luv hear netcollex ltd per msg repli stop end endure topical_anaesthetic get_a_line monosodium_glutamate blockade terminate',
 'ummmawil call check inour life begin qatar pls pray hard call_option check_up_on life_story Katar_Peninsula difficult',
 "ki delet contact ch'i adjoin",
 'sindu got job birla soft grow subcontract piano',
 'wine flow never vino current',
 'yup thk cine better cos need go plaza mah punter Centennial_State motive crack shopping_center',
 'ok ur typic repli all_right emblematic',
 'per request mell mell oru minnaminungint nurungu vettam set callertun caller press copi friend callertun bespeak go_under telephoner weigh supporter',
 'everywh dirt floor window even shirt sometim open mouth come flow dream world without half chore time joy lot tv show ill see guess like thing must exist like rain hail mist time done becom one grease base windowpane fifty-fifty lip fall current woolgather earthly_concern one-half task prison_term dish_out telly demonstrate ominous examine guesswork same mustiness same rain_down herald cloud prison_term suffice unrivaled',
 'aaooooright work oeuvre',
 'leav hous',
 'hello love get interview today happi good boy think mear miss how-do-you-do bang grow now just imagine misfire',
 'custom servic annonc new year deliveri wait plea call arrang deliveri customs_duty Modern twelvemonth delay supplication call_option',
 'winner special select receiv  cash holiday flight inc speak live oper claim success limited choice hard_currency escape verbalize endure title',
 'keep safe need miss alreadi envi everyon see real life keep_open rubber motive misfire examine real_number life_story',
 'new car hous parentsi new job hand Modern elevator_car Modern subcontract script',
 'love excit day spend make happi bang pass build',
 'pls stop bootyd invit friend repli see stop send stop frnd blockade supporter examine blockade direct blockade',
 'bangbab ur order way receiv servic msg download ur content goto wap bangb tv ur mobil internetserv menu say agency monosodium_glutamate mental_object telly card',
 'place ur point e cultur modul alreadi station direct east',
 'urgent tri contact last weekend draw show  prize guarant call claim code valid pressing adjoin endure force demonstrate lever call_option title codification',
 'hi frnd best way avoid missunderstd wit belov one Charles_Herbert_Best agency quash card unrivaled',
 'great escap fanci bridg need lager see tomo with_child motive lager_beer examine',
 'yes complet formclark also utter wast likewise staring',
 'sir need axi bank account bank address motive money_box invoice money_box direct',
 'hmmm thk sure got time hop ard ya go free abt muz call discuss liao for_sure grow prison_term record_hop crack free_people call_option talk_over Liao_dynasty',
 'time come later prison_term fall subsequently',
 'bloodi hell cant believ forgot surnam mr ill give clue spanish begin sin cant_over draw_a_blank ominous spring Spanish_people',
 'well gonna finish bath goodfin night intimately close bathtub',
 'let know youv got money carlo make call Army_of_the_Righteous bang grow build call_option',
 'still go mall inactive crack shopping_center',
 'turn friend stay whole show wont back til ltgt feel free go ahead smoke ltgt worth wrick supporter stoppage solid demonstrate habit binding spirit free_people crack leading bullet',
 'text doesnt repli let know log Army_of_the_Righteous bang logarithm',
 'hi spoke maneesha v wed like know satisfi experi repli toll free yes rung quintet conjoin same bang free_people',
 'lift hope offer money need especi end month approach hurt studi anyway weekend wind desire go motive terminate overture pain in_any_case',
 'lol trust desire',
 'ok gentleman treat digniti respect all_right valet goody regard',
 'guy close laugh_at confining',
 'go noth greatbi crack',
 'hello handsom find job lazi work toward get back net mummi boytoy miss how-do-you-do witness subcontract oeuvre grow binding web misfire',
 'haha awesom minut',
 'plea call custom servic repr freephon guarant  cash  prize supplication call_option customs_duty hard_currency lever',
 'got xmas radio time get grow prison_term grow',
 "jus reach home go bath first sis use net tell finish k get_to abode crack bathtub kickoff Systeme_International_d'Unites habit web separate close one_thousand",
 'uniqu enough find august adequate witness venerable',
 'sorri ive join leagu peopl dont keep touch mean great deal friend time even great person cost great week conjoin keep_open hint entail with_child grapple supporter prison_term fifty-fifty with_child somebody toll with_child workweek',
 'hi final complet cour terminal',
 'stop howev suggest stay someon abl give everi stool blockade indicate stoppage spring throne',
 'hope youv settl new school year wishin day desire Modern school_day twelvemonth',
 'gud mrng dear hav nice day prissy',
 'got person stori grow somebody',
 'hamster dead hey tmr meet orchard mrt beat conform_to grove',
 'hi kate even hope see tomorrow bit bloodi babyjontet txt back xxx fifty-fifty desire examine bite binding 30',
 'found enc ltgt witness',
 'sent ltgt buck direct',
 'hello darlin ive finish colleg txt finish love kate xxx how-do-you-do close close bang 30',
 'account refil success inr ltdecimalgt keralacircl prepaid account balanc rs ltdecimalgt transact id kr ltgt invoice achiever postpaid invoice gas_constant krypton',
 'goodmorn sleep ga nap Georgia',
 'call alter ok call_option spay all_right',
 ' say like dat dun buy ericsson oso cannot oredi lar pronounce same grayish_brown corrupt',

In [20]:
#Word Embeddings: GloVe

In [21]:
texts = docs_expansion

# GLOVE

In [22]:
!pip install Tokenizer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Tokenizer
  Downloading tokenizer-3.4.1-py2.py3-none-any.whl (78 kB)
     || 78 kB 3.3 MB/s
Installing collected packages: Tokenizer
Successfully installed Tokenizer-3.4.1

In [23]:
# Calculate the length of our vocabulary
from keras.preprocessing.text import Tokenizer
word_tokenizer = Tokenizer()

In [24]:
word_tokenizer.fit_on_texts(texts)

vocab_length = len(word_tokenizer.word_index) + 1
vocab_length

7998

In [25]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [26]:
import tensorflow as tf
def embed(corpus): 
    return word_tokenizer.texts_to_sequences(corpus)

In [27]:
longest_train = max(texts, key=lambda sentence: len(word_tokenize(sentence)))
length_long_sentence = len(word_tokenize(longest_train))

train_padded_sentences = tf.keras.preprocessing.sequence.pad_sequences(
    embed(texts), 
    length_long_sentence, 
    padding='post'
)

X = train_padded_sentences

In [28]:
print(X)

[[   4 4202  496 ...    0    0    0]
 [  23  444  869 ...    0    0    0]
 [   8  624  944 ...    0    0    0]
 ...
 [7996 1531 7997 ...    0    0    0]
 [ 283 1867  119 ...    0    0    0]
 [2802  636  335 ...    0    0    0]]

# TFIDF
Menghitung TF IDF untuk setiap dokumen dan hasilnya digunakan untuk clustering dokumen

In [29]:
import pandas as pd
import numpy as np

In [30]:
from sklearn.feature_extraction.text import TfidfTransformer

transformer = TfidfTransformer(smooth_idf=False)
tfidf = transformer.fit_transform(X)
print(tfidf.shape )

(5572, 114)

# Document Clustering with KMeans

In [31]:
corpus = texts

In [32]:
from sklearn.cluster import KMeans

num_clusters = 5 #Change it according to your data.
km = KMeans(n_clusters=num_clusters)
km.fit(tfidf)
clusters = km.labels_.tolist()

smstext = {'SMS Text' : corpus, 'Cluster Number' : clusters} #Creating dict having doc with the corresponding cluster number.
frame=pd.DataFrame(smstext,index=[clusters], columns=['SMS Text','Cluster Number']) # Converting it into a dataframe.

print("\n")
print(frame) #Print the doc with the labeled cluster number.
print("\n")
print(frame['Cluster Number'].value_counts()) #Print the counts of doc belonging to each cluster.

                                             SMS Text  Cluster Number
2   go jurong point crazi avail bugi n great world...               2
2   ok lar joke wif oni all_right laugh Office_of_...               2
2   free entri wkli comp win fa cup final tkts may...               2
4   dun say ear hor alreadi say grayish_brown pron...               4
4   nah dont think goe usf live around though imag...               4
..                                                ...             ...
2   time tri contact  pound prize claim easi cal...               2
4    b go esplanad fr home group_B crack atomic_n...               4
3               piti mood soani suggest mode indicate               3
2   guy bitch act like id interest buy someth el n...               2
1                    rofl true name truthful nominate               1

[5572 rows x 2 columns]


2    2307
4    1017
3     805
0     748
1     695
Name: Cluster Number, dtype: int64

In [33]:
frame.head()

                                            SMS Text  Cluster Number
2  go jurong point crazi avail bugi n great world...               2
2  ok lar joke wif oni all_right laugh Office_of_...               2
2  free entri wkli comp win fa cup final tkts may...               2
4  dun say ear hor alreadi say grayish_brown pron...               4
4  nah dont think goe usf live around though imag...               4

In [34]:
doc_id = []
for i in range(1, (len(frame['SMS Text']))+1):
  doc_id.append('D' + str(i))

In [35]:
frame['docID'] = doc_id
frame.head(5)

                                            SMS Text  Cluster Number docID
2  go jurong point crazi avail bugi n great world...               2    D1
2  ok lar joke wif oni all_right laugh Office_of_...               2    D2
2  free entri wkli comp win fa cup final tkts may...               2    D3
4  dun say ear hor alreadi say grayish_brown pron...               4    D4
4  nah dont think goe usf live around though imag...               4    D5

In [36]:
group_doc = []
for i in frame['Cluster Number']:
  group_doc.append('Group' + str(i))

In [37]:
frame['GroupDoc'] = group_doc
frame.head(5)

,SMS Text,Cluster Number,docID,GroupDoc
2,go jurong point crazi avail bugi n great world...,2,D1,Group2
2,ok lar joke wif oni all_right laugh Office_of_...,2,D2,Group2
2,free entri wkli comp win fa cup final tkts may...,2,D3,Group2
4,dun say ear hor alreadi say grayish_brown pron...,4,D4,Group4
4,nah dont think goe usf live around though imag...,4,D5,Group4

In [38]:
df_cluster_0 = frame['SMS Text'][0].reset_index(drop=True)

In [39]:
cluster_0 = []
cluster_1 = []
cluster_2 = []
cluster_3 = []
cluster_4 = []

In [40]:
for clusnum in range (0,5):
  data_in_cluster = frame['SMS Text'][clusnum].reset_index(drop=True)
  
  for doc in data_in_cluster:
    if clusnum == 0:
      cluster_0.append(doc)
    if clusnum == 1:
      cluster_1.append(doc)
    if clusnum == 2:
      cluster_2.append(doc)
    if clusnum == 3:
      cluster_3.append(doc)
    if clusnum == 4:
      cluster_4.append(doc)

In [41]:
clusnum_0_join = ''.join(cluster_0)
clusnum_1_join = ''.join(cluster_1)
clusnum_2_join = ''.join(cluster_2)
clusnum_3_join = ''.join(cluster_3)
clusnum_4_join = ''.join(cluster_4)

In [42]:
d = {'groupID': ['Group0','Group1','Group2','Group3','Group4'], 'text': [clusnum_0_join,clusnum_1_join, clusnum_2_join, clusnum_3_join, clusnum_4_join]}
grupindf = pd.DataFrame(data=d)
grupindf

  groupID                                               text
0  Group0  oh kim watch Ohio vigilserious spell name go n...
1  Group1  im go tri month ha ha joke crack laughfffff...
2  Group2  go jurong point crazi avail bugi n great world...
3  Group3  lol alway convinck tell anyth one_thousand sep...
4  Group4  dun say ear hor alreadi say grayish_brown pron...

In [43]:
# menghitung jumlah kata di dalam dataset

new_all_text = " ".join(frame['SMS Text'].apply(clean_text).values)
vocab = []
vocab = np.unique(word_tokenize(new_all_text))
vocab = [word for word in vocab if word not in stopwords.words('english')]

In [44]:
vocab

['aa',
 'aah',
 'aaniy',
 'aaooooright',
 'aathilov',
 'aathiwh',
 'ab',
 'abatransitnumber',
 'abbey',
 'abbreviate',
 'abdomen',
 'abeg',
 'abel',
 'aberdeen',
 'abi',
 'abil',
 'abiola',
 'abj',
 'abl',
 'abnorm',
 'abode',
 'abouta',
 'abroad',
 'absenc',
 'absolut',
 'abstract',
 'abt',
 'abta',
 'aburo',
 'abus',
 'ac',
 'academ',
 'academyaward',
 'acc',
 'accent',
 'accentur',
 'accept',
 'access',
 'accid',
 'accolade',
 'accommod',
 'accommodationvouch',
 'accomod',
 'accompany',
 'accomplishment',
 'accord',
 'accordin',
 'accordinglyor',
 'account',
 'accumul',
 'accuracy',
 'accurate',
 'ach',
 'achanammarakheshqatar',
 'achiev',
 'achiever',
 'acid',
 'acknowledg',
 'acknowledgment',
 'acnt',
 'across',
 'acsmsreward',
 'act',
 'actin',
 'action',
 'activ',
 'activate',
 'activity',
 'actor',
 'actual',
 'ad',
 'adam',
 'add',
 'addamsfa',
 'addi',
 'addict',
 'address',
 'addressul',
 'adequate',
 'adew',
 'adhd',
 'adi',
 'adieu',
 'adjoin',
 'adjust',
 'admin',
 'administr',
 'admir',
 'admiss',
 'admit',
 'admiti',
 'adopt',
 'ador',
 'adorn',
 'adp',
 'adress',
 'adrian',
 'adsen',
 'adult',
 'advanc',
 'advance',
 'adventur',
 'advertizement',
 'advi',
 'advic',
 'adviser',
 'advisor',
 'aerodrome',
 'aeronaut',
 'aeroplan',
 'aeroplane',
 'afew',
 'affair',
 'affect',
 'affectation',
 'affectionsamp',
 'affidavit',
 'afflictive',
 'afford',
 'afghanistan',
 'aforementioned',
 'afraid',
 'africa',
 'african',
 'aft',
 'afternon',
 'afternoon',
 'afterpart',
 'afterward',
 'aftr',
 'ag',
 'againc',
 'againlov',
 'agalla',
 'age',
 'agenc',
 'agency',
 'agent',
 'agentiverole',
 'agesr',
 'agidhan',
 'agiotage',
 'ago',
 'agocusoon',
 'agone',
 'agr',
 'agreen',
 'ah',
 'aha',
 'ahead',
 'ahg',
 'ahhh',
 'ahhhhjust',
 'ahmad',
 'ahnow',
 'ahold',
 'ahsen',
 'ahth',
 'ahwhat',
 'aid',
 'aig',
 'aight',
 'aint',
 'air',
 'airhole',
 'airport',
 'airtel',
 'aiya',
 'aiyah',
 'aiyar',
 'aiyo',
 'ajith',
 'ak',
 'aka',
 'akonlon',
 'al',
 'alaikkumprid',
 'alaipayuth',
 'alaska',
 'albi',
 'album',
 'albumquit',
 'alcohol',
 'alcoholic',
 'alcoholicsanonymous',
 'alcove',
 'aldrin',
 'alert',
 'alertfrom',
 'alett',
 'alex',
 'alfi',
 'alfredhawthorne',
 'algarv',
 'algebra',
 'algorithm',
 'algorithmicprogram',
 'ali',
 'alian',
 'alibi',
 'alien',
 'aliv',
 'alivebett',
 'allah',
 'allahmeet',
 'allahrakhesh',
 'allalo',
 'allday',
 'allhallowseve',
 'allo',
 'allow',
 'allowfor',
 'allright',
 'alluvion',
 'almost',
 'aloha',
 'alon',
 'alone',
 'along',
 'alot',
 'alphabeticcharacter',
 'alphageminorum',
 'alqaeda',
 'alreadi',
 'alreadysabarish',
 'alright',
 'alrightokay',
 'alrit',
 'alritehav',
 'also',
 'alsoor',
 'alsoran',
 'alter',
 'alternativehop',
 'although',
 'altruistic',
 'alveolarconsonant',
 'alwa',
 'alway',
 'always',
 'alwi',
 'amanda',
 'amaz',
 'ambiti',
 'ambrithmaduraimet',
 'amend',
 'american',
 'amerindic',
 'ami',
 'amigo',
 'amk',
 'ammaelif',
 'ammo',
 'among',
 'amongst',
 'amor',
 'amount',
 'amour',
 'amp',
 'amplikat',
 'amrca',
 'amrita',
 'amt',
 'amus',
 'amuse',
 'amx',
 'ana',
 'anal',
 'analogue',
 'analretentive',
 'analysi',
 'anand',
 'anathemise',
 'anderson',
 'andor',
 'andr',
 'andrewsboy',
 'andro',
 'angel',
 'angelical',
 'angleofdip',
 'angri',
 'anim',
 'anji',
 'anjola',
 'anna',
 'anni',
 'anniversari',
 'annonc',
 'announc',
 'annoy',
 'annoyin',
 'anonym',
 'anot',
 'anoth',
 'ansr',
 'answer',
 'answerin',
 'answr',
 'antelop',
 'anthoni',
 'anti',
 'antibiot',
 'anticipate',
 'anybodi',
 'anyhow',
 'anymor',
 'anyon',
 'anyplac',
 'anyth',
 'anythi',
 'anythin',
 'anythingtomorrow',
 'anytim',
 'anyway',
 'anywh',
 'aom',
 'apart',
 'ape',
 'aper',
 'apeshit',
 'aphex',
 'apnt',
 'apo',
 'apolog',
 'apologet',
 'app',
 'appall',
 'appar',
 'apparel',
 'appeal',
 'appear',
 'appendage',
 'appendix',
 'appi',
 'appleb',
 'applespairs',
 'appli',
 'applic',
 'apply',
 'appoint',
 'appreci',
 'apprehension',
 'approach',
 'appropri',
 'approv',
 'approx',
 'appt',
 'april',
 'aproach',
 'apt',
 'aptitud',
 'aquarius',
 'ar',
 'arab',
 'arabian',
 'arcad',
 'archiv',
 'ard',
 'ard',
 'area',
 'arena',
 'arent',
 'arestaur',
 'aretak',
 'argent',
 'argentina',
 'argh',
 'argu',
 'argument',
 'ari',
 'arithmet',
 'arm',
 'armand',
 'armenia',
 'armoredcombatvehicle',
 'armyoftherighteous',
 'arng',
 'arngd',
 'arnt',
 'around',
 'aroundn',
 'arpraveesh',
 'arr',
 'arrang',
 'arrangement',
 'arrest',
 'arriv',
 'arrow',
 'arsenal',
 'art',
 'arti',
 'articulatedlorry',
 'artist',
 'artistsmodel',
 'artwork',
 'arul',
 'arun',
 'asa',
 'asap',
 'asapok',
 'ascribable',
 'asda',
 'ash',
 'ashley',
 'ashtree',
 'ashwini',
 'asia',
 'asian',
 'ask',
 'askd',
 'askin',
 'aslamalaikkuminsha',
 'asleep',
 'aspect',
 'ass',
 'assertion',
 'assess',
 'asshol',
 'assist',
 'associ',
 'assum',
 'asther',
 'asthma',
 'asthmaattack',
 'astn',
 'astonish',
 'astound',
 'astrolog',
 'astronom',
 'asunder',
 'asus',
 'ate',
 'athlet',
 'athom',
 'atlanta',
 'atlast',
 'atleast',
 'atm',
 'atone',
 'atrest',
 'atroci',
 'atsea',
 'attach',
 'attack',
 'attaint',
 'attempt',
 'atten',
 'attend',
 'attent',
 'attitud',
 'attract',
 'attractioni',
 'attribut',
 'atyour',
 'auction',
 'auctionoff',
 'auctionpunj',
 'audiit',
 'audit',
 'audrey',
 'audri',
 'august',
 'aunt',
 'aunti',
 'auricle',
 'aust',
 'australia',
 'authori',
 'auto',
 'autocorrect',
 'automaticdataprocessing',
 'av',
 'ava',
 'avail',
 'availa',
 'availablei',
 'availablethey',
 'avalarr',
 'avatar',
 'avbl',
 'ave',
 'aveng',
 'avent',
 'avenu',
 'avin',
 'avo',
 'avoid',
 'await',
 'awak',
 'award',
 'away',
 'awesom',
 'awkward',
 'aww',
 'awww',
 'ax',
 'axe',
 'axi',
 'ay',
 'ayn',
 'ayo',
 'a',
 'b',
 'ba',
 'baaaaaaaab',
 'baaaaab',
 'babe',
 'babesozi',
 'babi',
 'baby',
 'babygoodbi',
 'babyhop',
 'babyjontet',
 'babysit',
 'bac',
 'back',
 'backa',
 'backbreaker',
 'backdoor',
 'backentrance',
 'backward',
 'bad',
 'badass',
 'badrith',
 'bag',
 'bagi',
 'bahama',
 'baig',
 'bailiff',
 'bak',
 'bakra',
 'bakrid',
 'bakshish',
 'balanc',
 'ball',
 'ballclub',
 'baller',
 'balloon',
 'bam',
 'bambl',
 'ban',
 'band',
 'bandag',
 'bang',
 'bangb',
 'bangbab',
 'bani',
 'bank',
 'banneduk',
 'banter',
 'bao',
 'bar',
 'barbi',
 'barcelona',
 'bare',
 'bari',
 'barkley',
 'barm',
 'barolla',
 'barrel',
 'barri',
 'barter',
 'base',
 'baseballfield',
 'bash',
 'basic',
 'basket',
 'basketb',
 'basqihav',
 'basquefatherlandandliberty',
 'bat',
 'batch',
 'batchlor',
 'bath',
 'bathingcostume',
 'bathroom',
 'bathtub',
 'batsman',
 'batt',
 'batteri',
 'battingcage',
 'battle',
 'battleoffredericksburg',
 'bawl',
 'bay',
 'bb',
 'bbc',
 'bbdelux',
 'bbdpooja',
 'bbdthts',
 'bblue',
 'bbq',
 'bbs',
 'bc',
 'bcaz',
 'bck',
 'bcm',
 'bcoz',
 'bcozi',
 'bcum',
 'bcz',
 'bday',
 'beach',
 'bead',
 'beadwork',
 'bear',
 'beat',
 'beau',
 'beauideal',
 'beauti',
 'beautifulmay',
 'beautysalon',
 'bec',
 'becaus',
 'becausethey',
 'beckon',
 'becom',
 'becoz',
 'becz',
 'bed',
 'bedchamber',
 'bedrm',
 'bedroom',
 'bedroomlov',
 'beeen',
 'beef',
 'beehoon',
 'beendrop',
 'beer',
 'beerag',
 'beerr',
 'befor',
 'beforechrist',
 'beforehand',
 'beforelong',
 'beforew',
 'beg',
 'beggar',
 'begin',
 'begun',
 'behalf',
 'behav',
 'behind',
 'behindhand',
 'bein',
 'believ',
 'beliv',
 'bell',
 'bellear',
 'belli',
 'bellig',
 'bellow',
 'belly',
 'bellylaugh',
 'belong',
 'belov',
 'belovd',
 'belt',
 'bemuse',
 'ben',
 'bend',
 'beneath',
 'beneficiari',
 'benefit',
 'benighted',
 'benne',
 'benni',
 'bergkamp',
 'beseem',
 'besid',
 'bespeak',
 'best',
 'bestcongrat',
 'bestrpli',
 'bet',
 'beta',
 'beth',
 'betray',
 'betta',
 'better',
 'bettersn',
 'beverag',
 'bevieswaz',
 'bewar',
 'beyond',
 'bf',
 'bffs',
 'bfore',
 'bharat',
 'bhaskar',
 'bhayandar',
 'bian',
 'biatch',
 'bid',
 'biddy',
 'big',
 'bigger',
 'biggest',
 'bike',
 'bill',
 'billi',
 'billion',
 'bilo',
 'bimbo',
 'bin',
 'binding',
 'biola',
 'biologicalwarfare',
 'bird',
 'birl',
 'birla',
 'biro',
 'birth',
 'birthdat',
 'birthday',
 'bishan',
 'bit',
 'bitch',
 'bite',
 'bk',
 'black',
 'blackand',
 'blackberri',
 'blackguard',
 'blackim',
 'blacko',
 'blah',
 'blake',
 'blame',
 'blank',
 'blanket',
 'blastin',
 'bleak',
 'bleh',
 'bless',
 'blessget',
 'blimey',
 'blind',
 'block',
 'blockade',
 'blockout',
 'blog',
 'bloke',
 'blond',
 'bloo',
 'blood',
 'bloodblood',
 'bloodi',
 'bloodsend',
 'bloomberg',
 'bloombergcom',
 'blossom',
 'blow',
 'blown',
 'blu',
 'blue',
 'bluetooth',
 'bluetoothhdset',
 'blueu',
 'bluff',
 'bluffout',
 'blur',
 'bluray',
 'bmw',
 'board',
 'boat',
 'boatin',
 'bob',
 'bobtail',
 'bodi',
 'boggi',
 'bognor',
 'bokkos',
 'bold',
 'boldface',
 'bollox',
 'bolshy',
 'boltblu',
 'bomb',
 'bombay',
 'bombilation',
 'bone',
 'bong',
 'bonus',
 'boo',
 'boob',
 'book',
 'bookedth',
 'bookmark',
 'bookofjeremiah',
 'bookshelf',
 'boooo',
 'boost',
 'booti',
 'bootyd',
 'boozeup',
 'boozy',
 'borderlin',
 'bore',
 'borin',
 'born',
 'bornplea',
 'borrow',
 'boss',
 'boston',
 'bot',
 'bother',
 'bottl',
 'bottom',
 'bought',
 'boughtbraindancea',
 'bound',
 'boundari',
 'bout',
 'boutxx',
 'bowa',
 'bowl',
 'box',
 'boy',
 'boyf',
 'boyfriend',
 'boyi',
 'boytoy',
 'bpo',
 'brah',
 'brain',
 'braini',
 'brainless',
 'branch',
 'brand',
 'brandi',
 'bras',
 'brassicanapus',
 'brassy',
 'brat',
 'brave',
 'bray',
 'brb',
 'brdget',
 'breach',
 'bread',
 'breadstick',
 'break',
 'breakapart',
 'breaker',
 'breakfast',
 'breakin',
 'breath',
 'breather',
 'breathingspell',
 'breez',
 'breezi',
 'bribe',
 'bridg',
 'bridgwat',
 'brief',
 'bright',
 'brighten',
 'brilliant',
 'brin',
 'bring',
 'bringaround',
 'bringup',
 'brisk',
 'brison',
 'bristol',
 'british',
 'britishpeople',
 'britishpoundsterling',
 'britney',
 'bro',
 'broad',
 'broadband',
 'broadcast',
 'broke',
 'broken',
 'brolli',
 'bros',
 'broth',
 'brotha',
 'brother',
 'brother\x89',
 'brought',
 'brow',
 'browni',
 'browse',
 'browser',
 'browsin',
 'bruce',
 'brum',
 'brusque',
 'bruv',
 'bslvyl',
 'bsn',
 'bsnl',
 'bstfrnd',
 'bt',
 'bthmm',
 'btnation',
 'btnationalr',
 'btooth',
 'btw',
 'btwn',
 'buck',
 'bud',
 'buddi',
 'budget',
 'buen',
 'buff',
 'buffet',
 'buffi',
 'bug',
 'bugi',
 'build',
 'built',
 'bulb',
 'bulge',
 'bull',
 'bullet',
 'bullshit',
 'bulwark',
 'bun',
 'bunch',
 'bundl',
 'bunker',
 'burden',
 'burger',
 'burgundi',
 'burial',
 'burn',
 'burndown',
 'burnedover',
 'burnish',
 'burnt',
 'burrito',
 'burying',
 'bus',
 'buse',
 'busetop',
 'busi',
 'businessdeal',
 'buss',
 'busti',
 'busyi',
 'butch',
 'butt',
 'butther',
 'button',
 'buy',
 'buyat',
 'buyer',
 'buzi',
 'buzz',
 'buzzzz',
 'bw',
 'bx',
 'byatch',
 'bye',
 'byword',
 'byleafcutt',
 'b\x89ham',
 'bday',
 'cab',
 'cabin',
 'cabl',
 'cafe',
 'cage',
 'cake',
 'caken',
 'cal',
 'calamari',
 'calamitous',
 'calcul',
 'calf',
 'cali',
 'calicut',
 'calif',
 'california',
 'call',
 'callback',
 'callcost',
 'callcoz',
 'calld',
 'calldrov',
 'caller',
 'callertun',
 'callfreefon',
 'callin',
 'callingforgot',
 'callon',
 'calloption',
 'callsmessagesmiss',
 'calls',
 'callurg',
 'calm',
 'calumniate',
 'cam',
 'camcord',
 'came',
 ...]

In [45]:
data = frame

In [59]:
def term_document_matrix(data, vocab= None, document_index= 'ID', text= 'text'):
    """Calculate frequency of term in the document.
    
    parameter: 
        data: DataFrame. 
        Frequency of word calculated against the data.
        
        vocab: list of strings.
        Vocabulary of the documents    
        
        document_index: str.
        Column name for document index in DataFrame passed.
        
        text: str
        Column name containing text for all documents in DataFrame,
        
    returns:
        vocab_index: DataFrame.
        DataFrame containing term document matrix.
        """
    
    vocab_index = pd.DataFrame(columns=data[document_index], index= vocab).fillna(0)
    
    for word in vocab_index.index:
        
        for doc in data[document_index]:
            
            freq = data[data[document_index] == doc][text].values[0].count(word)
            vocab_index.loc[word,doc] = freq
    
    return vocab_index

In [60]:
similarity_index = ''
similarity_index = term_document_matrix(grupindf,vocab,'groupID','text')
similarity_index

groupID      Group0  Group1  Group2  Group3  Group4
aa                7      14      11       7       5
aah               0       3       2       0       2
aaniy             0       0       1       0       0
aaooooright       0       1       0       0       0
aathilov          3       0       0       0       0
...             ...     ...     ...     ...     ...
                17      11      82      22      47
ll               1       0       0       0       1
                0       0       0       0       3
                8       2      18       9      16
ll              0       0       0       0       1

[8043 rows x 5 columns]

In [61]:
# bergantung pada term_document_matrix
def tf_idf_score(vocab_index, document_index, inv_df= 'inverse_document_frequency'):
    """
    Calculate tf-idf score for vocabulary in documents
    
    parameter:
        vocab_index: DataFrame.
        Term document matrix.
        
        document_index: list or tuple.
        Series containing document ids.
        
        inv_df: str.
        Name of the column with calculated inverse document frequencies.
        
    returns:
        vocab_index: DataFrame.
        DataFrame containing term document matrix and document frequencies, inverse document frequencies and tf-idf scores
    """
    total_docx = len(document_index)
    vocab_index['document_frequency'] = vocab_index.sum(axis= 1)
    vocab_index['inverse_document_frequency'] = np.log2( total_docx / vocab_index['document_frequency'])
    
    for word in vocab_index.index:
        
        for doc in document_index:
            
                tf_idf = np.log2(1 + vocab_index.loc[word,doc]) * np.log2(vocab_index.loc[word][inv_df])
                vocab_index.loc[word,'tf_idf_'+doc] = tf_idf
    
    return vocab_index

In [62]:
similarity_index = tf_idf_score(similarity_index, grupindf.groupID.values)
similarity_index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: invalid value encountered in log2
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: divide by zero encountered in log2

groupID,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4
aa,7,14,11,7,5,44,-3.137504,NaN,NaN,NaN,NaN,NaN
aah,0,3,2,0,2,7,-0.485427,NaN,NaN,NaN,NaN,NaN
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
,17,11,82,22,47,179,-5.161888,NaN,NaN,NaN,NaN,NaN
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662
,8,2,18,9,16,53,-3.405992,NaN,NaN,NaN,NaN,NaN
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323

# Ranking

In [69]:
def query_processing(query):
    """
    Pre-processing query to accomodate calculations for tf-idf score
    
    parameter:
        query: str.
        Textual query input to the system.
        
    returns:
        query: str.
        Cleaned string.
        """
    query= re.sub('\W',' ',query)
    query= query.strip().lower()
    query= " ".join([word for word in query.split() if word not in stopwords.words('english')])
    
    return query

In [70]:
def query_score(vocab_index, query):
    """
    Calculate tf-idf score for query terms
    
    parameter:
        vocab_index: DataFrame.
        Term document matrix with inverse document frequency and term frequencies calculated.
        
        query: str.
        Query submitted to the system
        
    returns:
        vocab_index: DataFrame.
        Term document matrix with tf-idf scores for terms per document and query terms.
    """
    for word in np.unique(query.split()):
        
        freq = query.count(word)
        
        if word in vocab_index.index:
            
            tf_idf = np.log2(1+freq) * np.log2(vocab_index.loc[word].inverse_document_frequency)
            vocab_index.loc[word,"query_tf_idf"] = tf_idf
            vocab_index['query_tf_idf'].fillna(0, inplace=True)
        
        if word not in vocab_index.index:
          vocab_index.loc[word,"query_tf_idf"] = 0
          vocab_index.fillna(0, inplace=True)

    
    return vocab_index

In [71]:
similarity_index.to_csv('term_doc_matrix.csv')

In [72]:
test= pd.read_csv('term_doc_matrix.csv')
test = test.set_index('Unnamed: 0')

In [73]:
# query= "25 batman alone woman"
# similarity_index = query_score(test,query)
# similarity_index

# Rank for Q1

In [74]:
test= pd.read_csv('term_doc_matrix.csv')
test = test.set_index('Unnamed: 0')
test

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4
Unnamed: 0,,,,,,,,,,,,
aa,7,14,11,7,5,44,-3.137504,NaN,NaN,NaN,NaN,NaN
aah,0,3,2,0,2,7,-0.485427,NaN,NaN,NaN,NaN,NaN
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
,17,11,82,22,47,179,-5.161888,NaN,NaN,NaN,NaN,NaN
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662
,8,2,18,9,16,53,-3.405992,NaN,NaN,NaN,NaN,NaN
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323

In [75]:
query= "aa aaooooright canteen woman"
similarity_index = ''
similarity_index = query_score(test,query)
similarity_index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in log2

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4,query_tf_idf
Unnamed: 0,,,,,,,,,,,,,
aa,7,14,11,7,5,44,-3.137504,NaN,NaN,NaN,NaN,NaN,0.000000
aah,0,3,2,0,2,7,-0.485427,NaN,NaN,NaN,NaN,NaN,0.000000
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.000000
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000,1.215323
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
,17,11,82,22,47,179,-5.161888,NaN,NaN,NaN,NaN,NaN,0.000000
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644,0.000000
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662,0.000000
,8,2,18,9,16,53,-3.405992,NaN,NaN,NaN,NaN,NaN,0.000000
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323,0.000000

In [76]:
similarity_index = similarity_index.dropna(0)
similarity_index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4,query_tf_idf
Unnamed: 0,,,,,,,,,,,,,
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.000000
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000,1.215323
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000,0.000000
aathiwh,0,3,0,0,0,3,0.736966,-0.000000,-0.880662,-0.000000,-0.0,-0.000000,0.000000
abbey,1,0,0,0,0,1,2.321928,1.215323,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
morrow,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.000000
rent,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.000000
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644,0.000000
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662,0.000000
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323,0.000000

In [77]:
def cosine_similarity(vocab_index, document_index, query_scores):
    """
    Calculates cosine similarity between the documents and query
    
    parameter:
        
        vocab_index: DataFrame.
        DataFrame containing tf-idf score per term for every document and for the query terms.
        
        document_index: list.
        List of document ids.
        
        query_scores: str.
        Column name in DataFrame containing query term tf-idf scores.
        
    returns:
        cosine_scores: Series.
        Cosine similarity scores of every document.
    """
    cosine_scores = {}
    
    query_scalar = np.sqrt(sum(vocab_index[query_scores] ** 2))
    
    for doc in document_index:
        
        doc_scalar = np.sqrt(sum(vocab_index[doc] ** 2))
        dot_prod = sum(vocab_index[doc] * vocab_index[query_scores])
        cosine = (dot_prod / (query_scalar * doc_scalar))
        
        cosine_scores[doc] = cosine
        
    return pd.Series(cosine_scores)

In [78]:
cosines = cosine_similarity(similarity_index, grupindf.groupID.values, 'query_tf_idf')
cosines

Group0    0.000000
Group1    0.027929
Group2    0.000000
Group3    0.000000
Group4    0.019389
dtype: float64

In [79]:
def retrieve_index(data,cosine_scores, document_index):
    """
    Retrieves indices for the corresponding document cosine scores
    
    parameters:
        data: DataFrame.
        DataFrame containing document ids and text.
        
        cosine_scores: Series.
        Series containing document cosine scores.
        
        document_index: str.
        Column name containing document ids in data.
        
    returns:
        data: DataFrame.
        Original DataFrame with cosine scores added as column.
    """
    
    data = data.set_index(document_index)
    data['scores'] = cosine_scores

    import numpy as np

    data = data.loc[~(data==0).all(axis=1)]
    
    np.count_nonzero(df, axis=1)
    return data.reset_index().sort_values('scores',ascending=False).head()

In [80]:
indices = retrieve_index(grupindf, cosines, 'groupID')
indices

  groupID                                               text    scores
1  Group1  im go tri month ha ha joke crack laughfffff...  0.027929
4  Group4  dun say ear hor alreadi say grayish_brown pron...  0.019389
0  Group0  oh kim watch Ohio vigilserious spell name go n...  0.000000
2  Group2  go jurong point crazi avail bugi n great world...  0.000000
3  Group3  lol alway convinck tell anyth one_thousand sep...  0.000000

In [81]:
# mengembalikan dokumen

In [82]:
frame.head()

,SMS Text,Cluster Number,docID,GroupDoc
2,go jurong point crazi avail bugi n great world...,2,D1,Group2
2,ok lar joke wif oni all_right laugh Office_of_...,2,D2,Group2
2,free entri wkli comp win fa cup final tkts may...,2,D3,Group2
4,dun say ear hor alreadi say grayish_brown pron...,4,D4,Group4
4,nah dont think goe usf live around though imag...,4,D5,Group4

In [85]:
new_dframe = frame[(frame['Cluster Number'] == 1) | (frame['Cluster Number'] == 4)]

In [86]:
new_dframe.head(-5)

,SMS Text,Cluster Number,docID,GroupDoc
4,dun say ear hor alreadi say grayish_brown pron...,4,D4,Group4
4,nah dont think goe usf live around though imag...,4,D5,Group4
4,date sunday go_steady William_Ashley_Sunday,4,D15,Group4
1,im go tri month ha ha joke crack laugh,1,D22,Group1
4,aft finish lunch go str lor ard smth lor finis...,4,D24,Group4
...,...,...,...,...
4,armand say get ass epsilon pronounce grow stern,4,D5543,Group4
4,still havent got urself jacket ah inactive gro...,4,D5544,Group4
1,cool time think get nerveless prison_term imag...,1,D5551,Group1
1,hahahaus brain dear nous,1,D5554,Group1
4,sorri ill call later ominous call_option subse...,4,D5559,Group4

In [93]:
retrieved_doc_1 = frame[(frame['Cluster Number'] == 1)]['docID']
docgroup1 = []
for i in retrieved_doc_1:
  docgroup1.append(i)

In [94]:
print('Dokumen untuk grup 1:')
print(docgroup1)

Dokumen untuk grup 1:
['D22', 'D25', 'D30', 'D37', 'D43', 'D44', 'D46', 'D48', 'D70', 'D71', 'D79', 'D85', 'D111', 'D114', 'D119', 'D130', 'D141', 'D146', 'D156', 'D198', 'D210', 'D211', 'D213', 'D234', 'D238', 'D241', 'D242', 'D247', 'D253', 'D258', 'D261', 'D263', 'D265', 'D269', 'D274', 'D276', 'D278', 'D282', 'D284', 'D287', 'D293', 'D304', 'D307', 'D315', 'D316', 'D321', 'D326', 'D336', 'D338', 'D346', 'D367', 'D368', 'D372', 'D388', 'D393', 'D404', 'D415', 'D416', 'D421', 'D427', 'D429', 'D443', 'D452', 'D453', 'D471', 'D480', 'D493', 'D497', 'D502', 'D504', 'D509', 'D514', 'D516', 'D521', 'D533', 'D539', 'D540', 'D541', 'D563', 'D564', 'D584', 'D603', 'D618', 'D632', 'D640', 'D654', 'D660', 'D667', 'D670', 'D678', 'D683', 'D691', 'D694', 'D700', 'D713', 'D722', 'D730', 'D739', 'D773', 'D775', 'D783', 'D800', 'D805', 'D806', 'D808', 'D810', 'D811', 'D814', 'D816', 'D819', 'D822', 'D827', 'D843', 'D845', 'D877', 'D890', 'D899', 'D902', 'D921', 'D938', 'D952', 'D955', 'D975', 'D987', 'D991', 'D997', 'D1001', 'D1019', 'D1020', 'D1024', 'D1057', 'D1058', 'D1079', 'D1090', 'D1104', 'D1106', 'D1125', 'D1139', 'D1141', 'D1151', 'D1160', 'D1175', 'D1182', 'D1185', 'D1186', 'D1187', 'D1202', 'D1211', 'D1218', 'D1222', 'D1233', 'D1237', 'D1243', 'D1244', 'D1251', 'D1273', 'D1277', 'D1306', 'D1319', 'D1320', 'D1348', 'D1351', 'D1354', 'D1356', 'D1363', 'D1367', 'D1397', 'D1406', 'D1408', 'D1410', 'D1419', 'D1427', 'D1442', 'D1454', 'D1460', 'D1483', 'D1503', 'D1511', 'D1522', 'D1525', 'D1533', 'D1535', 'D1547', 'D1558', 'D1565', 'D1599', 'D1601', 'D1609', 'D1614', 'D1615', 'D1616', 'D1627', 'D1634', 'D1641', 'D1650', 'D1658', 'D1659', 'D1669', 'D1671', 'D1672', 'D1686', 'D1693', 'D1700', 'D1715', 'D1719', 'D1736', 'D1755', 'D1757', 'D1759', 'D1800', 'D1805', 'D1808', 'D1820', 'D1829', 'D1834', 'D1836', 'D1843', 'D1856', 'D1859', 'D1870', 'D1871', 'D1878', 'D1890', 'D1896', 'D1905', 'D1908', 'D1917', 'D1925', 'D1931', 'D1943', 'D1957', 'D1960', 'D1971', 'D1972', 'D1974', 'D1976', 'D1980', 'D1988', 'D1990', 'D1998', 'D2005', 'D2030', 'D2034', 'D2036', 'D2037', 'D2047', 'D2048', 'D2063', 'D2067', 'D2073', 'D2077', 'D2079', 'D2088', 'D2091', 'D2096', 'D2098', 'D2107', 'D2110', 'D2111', 'D2136', 'D2139', 'D2169', 'D2173', 'D2182', 'D2192', 'D2199', 'D2210', 'D2214', 'D2227', 'D2256', 'D2261', 'D2269', 'D2270', 'D2274', 'D2285', 'D2292', 'D2314', 'D2316', 'D2320', 'D2322', 'D2323', 'D2333', 'D2336', 'D2339', 'D2345', 'D2348', 'D2357', 'D2390', 'D2398', 'D2410', 'D2415', 'D2421', 'D2422', 'D2424', 'D2431', 'D2440', 'D2449', 'D2451', 'D2456', 'D2457', 'D2458', 'D2459', 'D2472', 'D2483', 'D2500', 'D2502', 'D2507', 'D2508', 'D2509', 'D2517', 'D2521', 'D2528', 'D2533', 'D2540', 'D2543', 'D2561', 'D2577', 'D2584', 'D2586', 'D2588', 'D2599', 'D2601', 'D2602', 'D2611', 'D2621', 'D2625', 'D2627', 'D2633', 'D2639', 'D2660', 'D2675', 'D2678', 'D2679', 'D2685', 'D2688', 'D2699', 'D2718', 'D2724', 'D2725', 'D2728', 'D2733', 'D2741', 'D2784', 'D2793', 'D2801', 'D2804', 'D2811', 'D2814', 'D2816', 'D2828', 'D2830', 'D2831', 'D2834', 'D2836', 'D2837', 'D2842', 'D2843', 'D2853', 'D2861', 'D2866', 'D2868', 'D2872', 'D2874', 'D2883', 'D2894', 'D2896', 'D2906', 'D2907', 'D2911', 'D2919', 'D2928', 'D2951', 'D2997', 'D2998', 'D3009', 'D3021', 'D3022', 'D3029', 'D3032', 'D3038', 'D3041', 'D3043', 'D3050', 'D3056', 'D3060', 'D3094', 'D3095', 'D3098', 'D3103', 'D3138', 'D3153', 'D3155', 'D3159', 'D3170', 'D3187', 'D3189', 'D3196', 'D3199', 'D3200', 'D3201', 'D3204', 'D3208', 'D3218', 'D3227', 'D3231', 'D3251', 'D3262', 'D3274', 'D3303', 'D3308', 'D3318', 'D3319', 'D3325', 'D3355', 'D3370', 'D3372', 'D3385', 'D3397', 'D3413', 'D3416', 'D3462', 'D3463', 'D3468', 'D3470', 'D3480', 'D3481', 'D3491', 'D3504', 'D3506', 'D3520', 'D3531', 'D3541', 'D3551', 'D3553', 'D3557', 'D3566', 'D3571', 'D3572', 'D3581', 'D3592', 'D3602', 'D3605', 'D3607', 'D3632', 'D3633', 'D3644', 'D3646', 'D3652', 'D3653', 'D3657', 'D3659', 'D3660', 'D3673', 'D3679', 'D3685', 'D3690', 'D3691', 'D3696', 'D3698', 'D3700', 'D3707', 'D3710', 'D3712', 'D3726', 'D3735', 'D3739', 'D3754', 'D3756', 'D3763', 'D3766', 'D3786', 'D3808', 'D3809', 'D3811', 'D3814', 'D3822', 'D3828', 'D3832', 'D3833', 'D3839', 'D3845', 'D3851', 'D3852', 'D3866', 'D3883', 'D3893', 'D3900', 'D3901', 'D3915', 'D3916', 'D3924', 'D3931', 'D3932', 'D3933', 'D3945', 'D3959', 'D3966', 'D3980', 'D3983', 'D3992', 'D3993', 'D3999', 'D4007', 'D4013', 'D4017', 'D4029', 'D4030', 'D4043', 'D4057', 'D4078', 'D4086', 'D4116', 'D4121', 'D4129', 'D4137', 'D4142', 'D4152', 'D4199', 'D4211', 'D4213', 'D4219', 'D4230', 'D4239', 'D4241', 'D4243', 'D4248', 'D4249', 'D4271', 'D4272', 'D4275', 'D4277', 'D4287', 'D4292', 'D4303', 'D4306', 'D4309', 'D4331', 'D4334', 'D4337', 'D4364', 'D4369', 'D4373', 'D4387', 'D4393', 'D4394', 'D4397', 'D4422', 'D4427', 'D4434', 'D4448', 'D4450', 'D4453', 'D4457', 'D4473', 'D4478', 'D4481', 'D4485', 'D4497', 'D4500', 'D4503', 'D4506', 'D4508', 'D4512', 'D4529', 'D4538', 'D4544', 'D4552', 'D4560', 'D4584', 'D4610', 'D4625', 'D4630', 'D4639', 'D4641', 'D4648', 'D4666', 'D4685', 'D4687', 'D4688', 'D4691', 'D4698', 'D4702', 'D4726', 'D4731', 'D4739', 'D4746', 'D4753', 'D4763', 'D4766', 'D4767', 'D4771', 'D4784', 'D4786', 'D4789', 'D4808', 'D4812', 'D4814', 'D4832', 'D4836', 'D4837', 'D4842', 'D4858', 'D4881', 'D4882', 'D4891', 'D4894', 'D4900', 'D4901', 'D4908', 'D4936', 'D4957', 'D4962', 'D4972', 'D4976', 'D4984', 'D4987', 'D4990', 'D4997', 'D4998', 'D4999', 'D5012', 'D5025', 'D5040', 'D5043', 'D5047', 'D5053', 'D5058', 'D5084', 'D5094', 'D5101', 'D5115', 'D5122', 'D5160', 'D5173', 'D5178', 'D5183', 'D5184', 'D5187', 'D5189', 'D5190', 'D5204', 'D5207', 'D5209', 'D5213', 'D5215', 'D5224', 'D5228', 'D5238', 'D5243', 'D5258', 'D5259', 'D5262', 'D5269', 'D5280', 'D5281', 'D5282', 'D5291', 'D5292', 'D5296', 'D5308', 'D5310', 'D5316', 'D5341', 'D5346', 'D5354', 'D5358', 'D5393', 'D5398', 'D5409', 'D5418', 'D5425', 'D5433', 'D5439', 'D5449', 'D5451', 'D5455', 'D5457', 'D5464', 'D5465', 'D5472', 'D5476', 'D5479', 'D5482', 'D5484', 'D5487', 'D5503', 'D5509', 'D5523', 'D5532', 'D5537', 'D5540', 'D5551', 'D5554', 'D5564', 'D5572', 'D22', 'D25', 'D30', 'D37', 'D43', 'D44', 'D46', 'D48', 'D70', 'D71', 'D79', 'D85', 'D111', 'D114', 'D119', 'D130', 'D141', 'D146', 'D156', 'D198', 'D210', 'D211', 'D213', 'D234', 'D238', 'D241', 'D242', 'D247', 'D253', 'D258', 'D261', 'D263', 'D265', 'D269', 'D274', 'D276', 'D278', 'D282', 'D284', 'D287', 'D293', 'D304', 'D307', 'D315', 'D316', 'D321', 'D326', 'D336', 'D338', 'D346', 'D367', 'D368', 'D372', 'D388', 'D393', 'D404', 'D415', 'D416', 'D421', 'D427', 'D429', 'D443', 'D452', 'D453', 'D471', 'D480', 'D493', 'D497', 'D502', 'D504', 'D509', 'D514', 'D516', 'D521', 'D533', 'D539', 'D540', 'D541', 'D563', 'D564', 'D584', 'D603', 'D618', 'D632', 'D640', 'D654', 'D660', 'D667', 'D670', 'D678', 'D683', 'D691', 'D694', 'D700', 'D713', 'D722', 'D730', 'D739', 'D773', 'D775', 'D783', 'D800', 'D805', 'D806', 'D808', 'D810', 'D811', 'D814', 'D816', 'D819', 'D822', 'D827', 'D843', 'D845', 'D877', 'D890', 'D899', 'D902', 'D921', 'D938', 'D952', 'D955', 'D975', 'D987', 'D991', 'D997', 'D1001', 'D1019', 'D1020', 'D1024', 'D1057', 'D1058', 'D1079', 'D1090', 'D1104', 'D1106', 'D1125', 'D1139', 'D1141', 'D1151', 'D1160', 'D1175', 'D1182', 'D1185', 'D1186', 'D1187', 'D1202', 'D1211', 'D1218', 'D1222', 'D1233', 'D1237', 'D1243', 'D1244', 'D1251', 'D1273', 'D1277', 'D1306', 'D1319', 'D1320', 'D1348', 'D1351', 'D1354', 'D1356', 'D1363', 'D1367', 'D1397', 'D1406', 'D1408', 'D1410', 'D1419', 'D1427', 'D1442', 'D1454', 'D1460', 'D1483', 'D1503', 'D1511', 'D1522', 'D1525', 'D1533', 'D1535', 'D1547', 'D1558', 'D1565', 'D1599', 'D1601', 'D1609', 'D1614', 'D1615', 'D1616', 'D1627', 'D1634', 'D1641', 'D1650', 'D1658', 'D1659', 'D1669', 'D1671', 'D1672', 'D1686', 'D1693', 'D1700', 'D1715', 'D1719', 'D1736', 'D1755', 'D1757', 'D1759', 'D1800', 'D1805', 'D1808', 'D1820', 'D1829', 'D1834', 'D1836', 'D1843', 'D1856', 'D1859', 'D1870', 'D1871', 'D1878', 'D1890', 'D1896', 'D1905', 'D1908', 'D1917', 'D1925', 'D1931', 'D1943', 'D1957', 'D1960', 'D1971', 'D1972', 'D1974', 'D1976', 'D1980', 'D1988', 'D1990', 'D1998', 'D2005', 'D2030', 'D2034', 'D2036', 'D2037', 'D2047', 'D2048', 'D2063', 'D2067', 'D2073', 'D2077', 'D2079', 'D2088', 'D2091', 'D2096', 'D2098', 'D2107', 'D2110', 'D2111', 'D2136', 'D2139', 'D2169', 'D2173', 'D2182', 'D2192', 'D2199', 'D2210', 'D2214', 'D2227', 'D2256', 'D2261', 'D2269', 'D2270', 'D2274', 'D2285', 'D2292', 'D2314', 'D2316', 'D2320', 'D2322', 'D2323', 'D2333', 'D2336', 'D2339', 'D2345', 'D2348', 'D2357', 'D2390', 'D2398', 'D2410', 'D2415', 'D2421', 'D2422', 'D2424', 'D2431', 'D2440', 'D2449', 'D2451', 'D2456', 'D2457', 'D2458', 'D2459', 'D2472', 'D2483', 'D2500', 'D2502', 'D2507', 'D2508', 'D2509', 'D2517', 'D2521', 'D2528', 'D2533', 'D2540', 'D2543', 'D2561', 'D2577', 'D2584', 'D2586', 'D2588', 'D2599', 'D2601', 'D2602', 'D2611', 'D2621', 'D2625', 'D2627', 'D2633', 'D2639', 'D2660', 'D2675', 'D2678', 'D2679', 'D2685', 'D2688', 'D2699', 'D2718', 'D2724', 'D2725', 'D2728', 'D2733', 'D2741', 'D2784', 'D2793', 'D2801', 'D2804', 'D2811', 'D2814', 'D2816', 'D2828', 'D2830', 'D2831', 'D2834', 'D2836', 'D2837', 'D2842', 'D2843', 'D2853', 'D2861', 'D2866', 'D2868', 'D2872', 'D2874', 'D2883', 'D2894', 'D2896', 'D2906', 'D2907', 'D2911', 'D2919', 'D2928', 'D2951', 'D2997', 'D2998', 'D3009', 'D3021', 'D3022', 'D3029', 'D3032', 'D3038', 'D3041', 'D3043', 'D3050', 'D3056', 'D3060', 'D3094', 'D3095', 'D3098', 'D3103', 'D3138', 'D3153', 'D3155', 'D3159', 'D3170', 'D3187', 'D3189', 'D3196', 'D3199', 'D3200', 'D3201', 'D3204', 'D3208', 'D3218', 'D3227', 'D3231', 'D3251', 'D3262', 'D3274', 'D3303', 'D3308', 'D3318', 'D3319', 'D3325', 'D3355', 'D3370', 'D3372', 'D3385', 'D3397', 'D3413', 'D3416', 'D3462', 'D3463', 'D3468', 'D3470', 'D3480', 'D3481', 'D3491', 'D3504', 'D3506', 'D3520', 'D3531', 'D3541', 'D3551', 'D3553', 'D3557', 'D3566', 'D3571', 'D3572', 'D3581', 'D3592', 'D3602', 'D3605', 'D3607', 'D3632', 'D3633', 'D3644', 'D3646', 'D3652', 'D3653', 'D3657', 'D3659', 'D3660', 'D3673', 'D3679', 'D3685', 'D3690', 'D3691', 'D3696', 'D3698', 'D3700', 'D3707', 'D3710', 'D3712', 'D3726', 'D3735', 'D3739', 'D3754', 'D3756', 'D3763', 'D3766', 'D3786', 'D3808', 'D3809', 'D3811', 'D3814', 'D3822', 'D3828', 'D3832', 'D3833', 'D3839', 'D3845', 'D3851', 'D3852', 'D3866', 'D3883', 'D3893', 'D3900', 'D3901', 'D3915', 'D3916', 'D3924', 'D3931', 'D3932', 'D3933', 'D3945', 'D3959', 'D3966', 'D3980', 'D3983', 'D3992', 'D3993', 'D3999', 'D4007', 'D4013', 'D4017', 'D4029', 'D4030', 'D4043', 'D4057', 'D4078', 'D4086', 'D4116', 'D4121', 'D4129', 'D4137', 'D4142', 'D4152', 'D4199', 'D4211', 'D4213', 'D4219', 'D4230', 'D4239', 'D4241', 'D4243', 'D4248', 'D4249', 'D4271', 'D4272', 'D4275', 'D4277', 'D4287', 'D4292', 'D4303', 'D4306', 'D4309', 'D4331', 'D4334', 'D4337', 'D4364', 'D4369', 'D4373', 'D4387', 'D4393', 'D4394', 'D4397', 'D4422', 'D4427', 'D4434', 'D4448', 'D4450', 'D4453', 'D4457', 'D4473', 'D4478', 'D4481', 'D4485', 'D4497', 'D4500', 'D4503', 'D4506', 'D4508', 'D4512', 'D4529', 'D4538', 'D4544', 'D4552', 'D4560', 'D4584', 'D4610', 'D4625', 'D4630', 'D4639', 'D4641', 'D4648', 'D4666', 'D4685', 'D4687', 'D4688', 'D4691', 'D4698', 'D4702', 'D4726', 'D4731', 'D4739', 'D4746', 'D4753', 'D4763', 'D4766', 'D4767', 'D4771', 'D4784', 'D4786', 'D4789', 'D4808', 'D4812', 'D4814', 'D4832', 'D4836', 'D4837', 'D4842', 'D4858', 'D4881', 'D4882', 'D4891', 'D4894', 'D4900', 'D4901', 'D4908', 'D4936', 'D4957', 'D4962', 'D4972', 'D4976', 'D4984', 'D4987', 'D4990', 'D4997', 'D4998', 'D4999', 'D5012', 'D5025', 'D5040', 'D5043', 'D5047', 'D5053', 'D5058', 'D5084', 'D5094', 'D5101', 'D5115', 'D5122', 'D5160', 'D5173', 'D5178', 'D5183', 'D5184', 'D5187', 'D5189', 'D5190', 'D5204', 'D5207', 'D5209', 'D5213', 'D5215', 'D5224', 'D5228', 'D5238', 'D5243', 'D5258', 'D5259', 'D5262', 'D5269', 'D5280', 'D5281', 'D5282', 'D5291', 'D5292', 'D5296', 'D5308', 'D5310', 'D5316', 'D5341', 'D5346', 'D5354', 'D5358', 'D5393', 'D5398', 'D5409', 'D5418', 'D5425', 'D5433', 'D5439', 'D5449', 'D5451', 'D5455', 'D5457', 'D5464', 'D5465', 'D5472', 'D5476', 'D5479', 'D5482', 'D5484', 'D5487', 'D5503', 'D5509', 'D5523', 'D5532', 'D5537', 'D5540', 'D5551', 'D5554', 'D5564', 'D5572']

In [95]:
retrieved_doc_4 = frame[(frame['Cluster Number'] == 4)]['docID']
docgroup4 = []
for i in retrieved_doc_4:
  docgroup4.append(i)

In [96]:
print('Dokumen untuk grup 4:')
print(docgroup4)

Dokumen untuk grup 4:
['D4', 'D5', 'D15', 'D24', 'D31', 'D41', 'D51', 'D58', 'D72', 'D77', 'D78', 'D81', 'D83', 'D86', 'D98', 'D100', 'D110', 'D125', 'D142', 'D145', 'D148', 'D150', 'D151', 'D162', 'D166', 'D169', 'D175', 'D183', 'D184', 'D191', 'D192', 'D193', 'D208', 'D215', 'D216', 'D223', 'D236', 'D245', 'D248', 'D251', 'D257', 'D260', 'D266', 'D271', 'D277', 'D280', 'D291', 'D295', 'D297', 'D300', 'D303', 'D310', 'D318', 'D330', 'D337', 'D339', 'D340', 'D352', 'D360', 'D377', 'D383', 'D387', 'D392', 'D394', 'D408', 'D411', 'D412', 'D418', 'D423', 'D435', 'D439', 'D444', 'D445', 'D459', 'D460', 'D461', 'D470', 'D476', 'D483', 'D484', 'D485', 'D511', 'D512', 'D518', 'D522', 'D523', 'D526', 'D534', 'D548', 'D549', 'D556', 'D558', 'D559', 'D575', 'D576', 'D581', 'D585', 'D588', 'D590', 'D598', 'D600', 'D601', 'D607', 'D609', 'D610', 'D621', 'D624', 'D625', 'D631', 'D641', 'D643', 'D644', 'D650', 'D651', 'D662', 'D663', 'D664', 'D665', 'D666', 'D671', 'D672', 'D675', 'D676', 'D680', 'D681', 'D689', 'D697', 'D699', 'D701', 'D702', 'D706', 'D715', 'D717', 'D724', 'D727', 'D729', 'D731', 'D732', 'D737', 'D738', 'D744', 'D745', 'D746', 'D752', 'D753', 'D757', 'D768', 'D774', 'D784', 'D785', 'D792', 'D795', 'D798', 'D799', 'D809', 'D812', 'D818', 'D847', 'D852', 'D853', 'D860', 'D861', 'D865', 'D868', 'D873', 'D887', 'D893', 'D897', 'D904', 'D908', 'D914', 'D922', 'D925', 'D927', 'D932', 'D937', 'D939', 'D946', 'D949', 'D950', 'D954', 'D959', 'D961', 'D970', 'D973', 'D980', 'D982', 'D985', 'D986', 'D995', 'D996', 'D1004', 'D1005', 'D1012', 'D1025', 'D1031', 'D1032', 'D1033', 'D1041', 'D1044', 'D1045', 'D1046', 'D1054', 'D1056', 'D1059', 'D1061', 'D1062', 'D1073', 'D1075', 'D1077', 'D1081', 'D1095', 'D1099', 'D1101', 'D1103', 'D1111', 'D1112', 'D1113', 'D1114', 'D1115', 'D1126', 'D1129', 'D1132', 'D1148', 'D1150', 'D1152', 'D1168', 'D1171', 'D1173', 'D1180', 'D1198', 'D1201', 'D1203', 'D1224', 'D1226', 'D1231', 'D1232', 'D1234', 'D1240', 'D1242', 'D1250', 'D1270', 'D1278', 'D1282', 'D1296', 'D1297', 'D1299', 'D1300', 'D1302', 'D1305', 'D1310', 'D1314', 'D1326', 'D1333', 'D1338', 'D1343', 'D1346', 'D1347', 'D1357', 'D1361', 'D1362', 'D1370', 'D1387', 'D1389', 'D1395', 'D1396', 'D1398', 'D1411', 'D1414', 'D1420', 'D1424', 'D1433', 'D1435', 'D1440', 'D1443', 'D1446', 'D1452', 'D1473', 'D1485', 'D1493', 'D1494', 'D1504', 'D1520', 'D1526', 'D1529', 'D1531', 'D1540', 'D1554', 'D1556', 'D1562', 'D1564', 'D1576', 'D1577', 'D1581', 'D1582', 'D1584', 'D1585', 'D1587', 'D1589', 'D1596', 'D1603', 'D1604', 'D1611', 'D1619', 'D1621', 'D1624', 'D1632', 'D1636', 'D1660', 'D1674', 'D1676', 'D1685', 'D1695', 'D1711', 'D1713', 'D1717', 'D1729', 'D1740', 'D1742', 'D1750', 'D1758', 'D1760', 'D1782', 'D1784', 'D1793', 'D1794', 'D1799', 'D1804', 'D1810', 'D1841', 'D1844', 'D1845', 'D1846', 'D1848', 'D1849', 'D1861', 'D1862', 'D1864', 'D1867', 'D1872', 'D1874', 'D1881', 'D1882', 'D1885', 'D1887', 'D1889', 'D1899', 'D1902', 'D1903', 'D1906', 'D1921', 'D1928', 'D1932', 'D1933', 'D1935', 'D1936', 'D1937', 'D1939', 'D1945', 'D1951', 'D1952', 'D1955', 'D1962', 'D1963', 'D1981', 'D1989', 'D1996', 'D2002', 'D2008', 'D2009', 'D2014', 'D2026', 'D2029', 'D2031', 'D2033', 'D2038', 'D2041', 'D2045', 'D2046', 'D2056', 'D2058', 'D2061', 'D2068', 'D2072', 'D2076', 'D2082', 'D2086', 'D2120', 'D2130', 'D2140', 'D2152', 'D2171', 'D2174', 'D2176', 'D2178', 'D2187', 'D2188', 'D2195', 'D2196', 'D2202', 'D2212', 'D2215', 'D2216', 'D2222', 'D2224', 'D2225', 'D2237', 'D2240', 'D2246', 'D2250', 'D2251', 'D2253', 'D2260', 'D2262', 'D2268', 'D2273', 'D2278', 'D2279', 'D2280', 'D2282', 'D2302', 'D2303', 'D2317', 'D2337', 'D2338', 'D2340', 'D2341', 'D2350', 'D2355', 'D2358', 'D2369', 'D2375', 'D2377', 'D2385', 'D2392', 'D2396', 'D2399', 'D2405', 'D2411', 'D2416', 'D2417', 'D2426', 'D2429', 'D2436', 'D2445', 'D2447', 'D2455', 'D2466', 'D2468', 'D2485', 'D2496', 'D2498', 'D2499', 'D2512', 'D2515', 'D2518', 'D2522', 'D2524', 'D2527', 'D2532', 'D2542', 'D2544', 'D2551', 'D2553', 'D2554', 'D2559', 'D2563', 'D2570', 'D2572', 'D2579', 'D2580', 'D2587', 'D2592', 'D2597', 'D2598', 'D2607', 'D2614', 'D2619', 'D2629', 'D2631', 'D2634', 'D2646', 'D2651', 'D2657', 'D2666', 'D2667', 'D2668', 'D2690', 'D2692', 'D2696', 'D2703', 'D2704', 'D2710', 'D2714', 'D2720', 'D2722', 'D2731', 'D2737', 'D2739', 'D2746', 'D2752', 'D2758', 'D2769', 'D2771', 'D2772', 'D2775', 'D2785', 'D2790', 'D2796', 'D2799', 'D2810', 'D2824', 'D2832', 'D2845', 'D2846', 'D2847', 'D2850', 'D2860', 'D2862', 'D2864', 'D2881', 'D2884', 'D2887', 'D2888', 'D2889', 'D2890', 'D2892', 'D2898', 'D2903', 'D2913', 'D2916', 'D2917', 'D2918', 'D2921', 'D2930', 'D2931', 'D2938', 'D2944', 'D2949', 'D2955', 'D2973', 'D2975', 'D2978', 'D2979', 'D2983', 'D2992', 'D2999', 'D3006', 'D3011', 'D3012', 'D3015', 'D3026', 'D3034', 'D3036', 'D3037', 'D3065', 'D3068', 'D3069', 'D3071', 'D3072', 'D3092', 'D3104', 'D3112', 'D3123', 'D3141', 'D3157', 'D3158', 'D3178', 'D3180', 'D3185', 'D3215', 'D3219', 'D3223', 'D3240', 'D3247', 'D3252', 'D3255', 'D3257', 'D3260', 'D3267', 'D3268', 'D3270', 'D3273', 'D3276', 'D3283', 'D3284', 'D3292', 'D3301', 'D3309', 'D3314', 'D3316', 'D3329', 'D3335', 'D3337', 'D3341', 'D3344', 'D3348', 'D3356', 'D3357', 'D3364', 'D3365', 'D3379', 'D3391', 'D3403', 'D3406', 'D3421', 'D3427', 'D3428', 'D3435', 'D3444', 'D3450', 'D3456', 'D3458', 'D3459', 'D3465', 'D3466', 'D3473', 'D3488', 'D3498', 'D3503', 'D3505', 'D3511', 'D3513', 'D3515', 'D3519', 'D3521', 'D3523', 'D3533', 'D3535', 'D3552', 'D3556', 'D3558', 'D3567', 'D3568', 'D3569', 'D3574', 'D3578', 'D3579', 'D3582', 'D3590', 'D3591', 'D3593', 'D3601', 'D3604', 'D3608', 'D3618', 'D3625', 'D3626', 'D3634', 'D3639', 'D3647', 'D3648', 'D3650', 'D3655', 'D3656', 'D3665', 'D3675', 'D3705', 'D3711', 'D3715', 'D3716', 'D3718', 'D3722', 'D3725', 'D3727', 'D3728', 'D3729', 'D3730', 'D3733', 'D3738', 'D3740', 'D3743', 'D3745', 'D3747', 'D3751', 'D3753', 'D3760', 'D3791', 'D3793', 'D3799', 'D3802', 'D3803', 'D3813', 'D3816', 'D3836', 'D3841', 'D3848', 'D3850', 'D3858', 'D3862', 'D3868', 'D3870', 'D3871', 'D3874', 'D3877', 'D3878', 'D3881', 'D3891', 'D3898', 'D3906', 'D3909', 'D3912', 'D3928', 'D3936', 'D3939', 'D3941', 'D3944', 'D3947', 'D3948', 'D3953', 'D3956', 'D3958', 'D3963', 'D3964', 'D3973', 'D3979', 'D3981', 'D3987', 'D3991', 'D4001', 'D4015', 'D4016', 'D4020', 'D4024', 'D4026', 'D4027', 'D4028', 'D4031', 'D4032', 'D4033', 'D4038', 'D4050', 'D4066', 'D4079', 'D4096', 'D4099', 'D4104', 'D4110', 'D4114', 'D4118', 'D4123', 'D4125', 'D4127', 'D4134', 'D4135', 'D4138', 'D4157', 'D4158', 'D4159', 'D4167', 'D4172', 'D4174', 'D4175', 'D4177', 'D4179', 'D4181', 'D4182', 'D4183', 'D4187', 'D4188', 'D4190', 'D4222', 'D4224', 'D4225', 'D4227', 'D4232', 'D4233', 'D4234', 'D4238', 'D4246', 'D4266', 'D4269', 'D4278', 'D4284', 'D4288', 'D4289', 'D4308', 'D4312', 'D4313', 'D4323', 'D4332', 'D4336', 'D4340', 'D4341', 'D4359', 'D4361', 'D4362', 'D4365', 'D4366', 'D4368', 'D4374', 'D4381', 'D4383', 'D4391', 'D4399', 'D4410', 'D4412', 'D4414', 'D4418', 'D4420', 'D4421', 'D4424', 'D4444', 'D4447', 'D4464', 'D4465', 'D4475', 'D4476', 'D4477', 'D4480', 'D4482', 'D4484', 'D4488', 'D4504', 'D4505', 'D4509', 'D4510', 'D4514', 'D4515', 'D4524', 'D4532', 'D4537', 'D4539', 'D4543', 'D4548', 'D4554', 'D4573', 'D4575', 'D4595', 'D4596', 'D4603', 'D4609', 'D4611', 'D4612', 'D4616', 'D4619', 'D4621', 'D4622', 'D4626', 'D4632', 'D4633', 'D4636', 'D4638', 'D4643', 'D4650', 'D4652', 'D4653', 'D4654', 'D4656', 'D4670', 'D4680', 'D4682', 'D4683', 'D4689', 'D4696', 'D4700', 'D4704', 'D4705', 'D4707', 'D4710', 'D4713', 'D4714', 'D4721', 'D4722', 'D4730', 'D4733', 'D4736', 'D4742', 'D4755', 'D4761', 'D4790', 'D4792', 'D4798', 'D4805', 'D4806', 'D4815', 'D4817', 'D4827', 'D4829', 'D4831', 'D4841', 'D4846', 'D4847', 'D4851', 'D4856', 'D4860', 'D4864', 'D4880', 'D4896', 'D4899', 'D4915', 'D4919', 'D4924', 'D4926', 'D4935', 'D4937', 'D4939', 'D4943', 'D4946', 'D4947', 'D4960', 'D4963', 'D4965', 'D4969', 'D4971', 'D4977', 'D4985', 'D4994', 'D5002', 'D5005', 'D5007', 'D5008', 'D5013', 'D5017', 'D5018', 'D5028', 'D5029', 'D5030', 'D5033', 'D5035', 'D5042', 'D5051', 'D5064', 'D5067', 'D5073', 'D5074', 'D5081', 'D5088', 'D5093', 'D5107', 'D5108', 'D5110', 'D5117', 'D5118', 'D5132', 'D5139', 'D5150', 'D5154', 'D5161', 'D5162', 'D5163', 'D5166', 'D5172', 'D5175', 'D5185', 'D5186', 'D5192', 'D5198', 'D5200', 'D5205', 'D5212', 'D5216', 'D5220', 'D5223', 'D5227', 'D5234', 'D5236', 'D5239', 'D5240', 'D5241', 'D5248', 'D5249', 'D5250', 'D5253', 'D5254', 'D5257', 'D5277', 'D5299', 'D5303', 'D5306', 'D5317', 'D5321', 'D5323', 'D5324', 'D5332', 'D5337', 'D5340', 'D5351', 'D5362', 'D5365', 'D5372', 'D5373', 'D5378', 'D5384', 'D5387', 'D5397', 'D5399', 'D5404', 'D5405', 'D5412', 'D5419', 'D5421', 'D5424', 'D5426', 'D5427', 'D5431', 'D5438', 'D5440', 'D5441', 'D5445', 'D5446', 'D5453', 'D5454', 'D5459', 'D5462', 'D5474', 'D5481', 'D5505', 'D5520', 'D5522', 'D5526', 'D5543', 'D5544', 'D5559', 'D5563', 'D5565', 'D5569']

# Rank for Q2

In [97]:
test= pd.read_csv('term_doc_matrix.csv')
test = test.set_index('Unnamed: 0')
test

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4
Unnamed: 0,,,,,,,,,,,,
aa,7,14,11,7,5,44,-3.137504,NaN,NaN,NaN,NaN,NaN
aah,0,3,2,0,2,7,-0.485427,NaN,NaN,NaN,NaN,NaN
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
,17,11,82,22,47,179,-5.161888,NaN,NaN,NaN,NaN,NaN
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662
,8,2,18,9,16,53,-3.405992,NaN,NaN,NaN,NaN,NaN
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323

In [99]:
query= "unbelievable faglord"
similarity_index = ''
similarity_index = query_score(test,query_processing(query))
similarity_index

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4,query_tf_idf
Unnamed: 0,,,,,,,,,,,,,
aa,7.0,14.0,11.0,7.0,5.0,44.0,-3.137504,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
aah,0.0,3.0,2.0,0.0,2.0,7.0,-0.485427,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
aaniy,0.0,0.0,1.0,0.0,0.0,1.0,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.000000
aaooooright,0.0,1.0,0.0,0.0,0.0,1.0,2.321928,0.000000,1.215323,0.000000,0.0,0.000000,1.215323
aathilov,3.0,0.0,0.0,0.0,0.0,3.0,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ll,1.0,0.0,0.0,0.0,1.0,2.0,1.321928,0.402644,0.000000,0.000000,0.0,0.402644,0.000000
,0.0,0.0,0.0,0.0,3.0,3.0,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662,0.000000
,8.0,2.0,18.0,9.0,16.0,53.0,-3.405992,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
ll,0.0,0.0,0.0,0.0,1.0,1.0,2.321928,0.000000,0.000000,0.000000,0.0,1.215323,0.000000
unbelievable,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

In [100]:
similarity_index = similarity_index.dropna(0)
similarity_index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4,query_tf_idf
Unnamed: 0,,,,,,,,,,,,,
aa,7.0,14.0,11.0,7.0,5.0,44.0,-3.137504,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
aah,0.0,3.0,2.0,0.0,2.0,7.0,-0.485427,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
aaniy,0.0,0.0,1.0,0.0,0.0,1.0,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.000000
aaooooright,0.0,1.0,0.0,0.0,0.0,1.0,2.321928,0.000000,1.215323,0.000000,0.0,0.000000,1.215323
aathilov,3.0,0.0,0.0,0.0,0.0,3.0,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ll,1.0,0.0,0.0,0.0,1.0,2.0,1.321928,0.402644,0.000000,0.000000,0.0,0.402644,0.000000
,0.0,0.0,0.0,0.0,3.0,3.0,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662,0.000000
,8.0,2.0,18.0,9.0,16.0,53.0,-3.405992,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
ll,0.0,0.0,0.0,0.0,1.0,1.0,2.321928,0.000000,0.000000,0.000000,0.0,1.215323,0.000000
unbelievable,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

In [101]:
def cosine_similarity(vocab_index, document_index, query_scores):
    """
    Calculates cosine similarity between the documents and query
    
    parameter:
        
        vocab_index: DataFrame.
        DataFrame containing tf-idf score per term for every document and for the query terms.
        
        document_index: list.
        List of document ids.
        
        query_scores: str.
        Column name in DataFrame containing query term tf-idf scores.
        
    returns:
        cosine_scores: Series.
        Cosine similarity scores of every document.
    """
    cosine_scores = {}
    
    query_scalar = np.sqrt(sum(vocab_index[query_scores] ** 2))
    
    for doc in document_index:
        
        doc_scalar = np.sqrt(sum(vocab_index[doc] ** 2))
        dot_prod = sum(vocab_index[doc] * vocab_index[query_scores])
        cosine = (dot_prod / (query_scalar * doc_scalar))
        
        cosine_scores[doc] = cosine
        
    return pd.Series(cosine_scores)

In [102]:
cosines = cosine_similarity(similarity_index, grupindf.groupID.values, 'query_tf_idf')
cosines

Group0    0.000121
Group1    0.000135
Group2    0.000000
Group3    0.000000
Group4    0.000063
dtype: float64

In [103]:
def retrieve_index(data,cosine_scores, document_index):
    """
    Retrieves indices for the corresponding document cosine scores
    
    parameters:
        data: DataFrame.
        DataFrame containing document ids and text.
        
        cosine_scores: Series.
        Series containing document cosine scores.
        
        document_index: str.
        Column name containing document ids in data.
        
    returns:
        data: DataFrame.
        Original DataFrame with cosine scores added as column.
    """
    
    data = data.set_index(document_index)
    data['scores'] = cosine_scores

    import numpy as np

    data = data.loc[~(data==0).all(axis=1)]
    
    np.count_nonzero(df, axis=1)
    return data.reset_index().sort_values('scores',ascending=False).head()

In [104]:
indices = retrieve_index(grupindf, cosines, 'groupID')
indices

  groupID                                               text    scores
1  Group1  im go tri month ha ha joke crack laughfffff...  0.000135
0  Group0  oh kim watch Ohio vigilserious spell name go n...  0.000121
4  Group4  dun say ear hor alreadi say grayish_brown pron...  0.000063
2  Group2  go jurong point crazi avail bugi n great world...  0.000000
3  Group3  lol alway convinck tell anyth one_thousand sep...  0.000000

In [ ]:
# mengembalikan dokumen

In [105]:
frame.head()

,SMS Text,Cluster Number,docID,GroupDoc
2,go jurong point crazi avail bugi n great world...,2,D1,Group2
2,ok lar joke wif oni all_right laugh Office_of_...,2,D2,Group2
2,free entri wkli comp win fa cup final tkts may...,2,D3,Group2
4,dun say ear hor alreadi say grayish_brown pron...,4,D4,Group4
4,nah dont think goe usf live around though imag...,4,D5,Group4

In [106]:
new_dframe = frame[(frame['Cluster Number'] == 1) | (frame['Cluster Number'] == 0) | (frame['Cluster Number'] == 4)]

In [107]:
new_dframe.head(-5)

,SMS Text,Cluster Number,docID,GroupDoc
4,dun say ear hor alreadi say grayish_brown pron...,4,D4,Group4
4,nah dont think goe usf live around though imag...,4,D5,Group4
4,date sunday go_steady William_Ashley_Sunday,4,D15,Group4
0,oh kim watch Ohio vigil,0,D17,Group0
0,serious spell name go nominate,0,D21,Group0
...,...,...,...,...
0,hi durban still number inactive act,0,D5546,Group0
0,tri weekend v quintet,0,D5549,Group0
1,cool time think get nerveless prison_term imag...,1,D5551,Group1
1,hahahaus brain dear nous,1,D5554,Group1
4,sorri ill call later ominous call_option subse...,4,D5559,Group4

In [108]:
retrieved_doc_1 = frame[(frame['Cluster Number'] == 1)]['docID']
docgroup1 = []
for i in retrieved_doc_1:
  docgroup1.append(i)

In [109]:
print('Dokumen untuk grup 1:')
print(docgroup1)

Dokumen untuk grup 1:
['D22', 'D25', 'D30', 'D37', 'D43', 'D44', 'D46', 'D48', 'D70', 'D71', 'D79', 'D85', 'D111', 'D114', 'D119', 'D130', 'D141', 'D146', 'D156', 'D198', 'D210', 'D211', 'D213', 'D234', 'D238', 'D241', 'D242', 'D247', 'D253', 'D258', 'D261', 'D263', 'D265', 'D269', 'D274', 'D276', 'D278', 'D282', 'D284', 'D287', 'D293', 'D304', 'D307', 'D315', 'D316', 'D321', 'D326', 'D336', 'D338', 'D346', 'D367', 'D368', 'D372', 'D388', 'D393', 'D404', 'D415', 'D416', 'D421', 'D427', 'D429', 'D443', 'D452', 'D453', 'D471', 'D480', 'D493', 'D497', 'D502', 'D504', 'D509', 'D514', 'D516', 'D521', 'D533', 'D539', 'D540', 'D541', 'D563', 'D564', 'D584', 'D603', 'D618', 'D632', 'D640', 'D654', 'D660', 'D667', 'D670', 'D678', 'D683', 'D691', 'D694', 'D700', 'D713', 'D722', 'D730', 'D739', 'D773', 'D775', 'D783', 'D800', 'D805', 'D806', 'D808', 'D810', 'D811', 'D814', 'D816', 'D819', 'D822', 'D827', 'D843', 'D845', 'D877', 'D890', 'D899', 'D902', 'D921', 'D938', 'D952', 'D955', 'D975', 'D987', 'D991', 'D997', 'D1001', 'D1019', 'D1020', 'D1024', 'D1057', 'D1058', 'D1079', 'D1090', 'D1104', 'D1106', 'D1125', 'D1139', 'D1141', 'D1151', 'D1160', 'D1175', 'D1182', 'D1185', 'D1186', 'D1187', 'D1202', 'D1211', 'D1218', 'D1222', 'D1233', 'D1237', 'D1243', 'D1244', 'D1251', 'D1273', 'D1277', 'D1306', 'D1319', 'D1320', 'D1348', 'D1351', 'D1354', 'D1356', 'D1363', 'D1367', 'D1397', 'D1406', 'D1408', 'D1410', 'D1419', 'D1427', 'D1442', 'D1454', 'D1460', 'D1483', 'D1503', 'D1511', 'D1522', 'D1525', 'D1533', 'D1535', 'D1547', 'D1558', 'D1565', 'D1599', 'D1601', 'D1609', 'D1614', 'D1615', 'D1616', 'D1627', 'D1634', 'D1641', 'D1650', 'D1658', 'D1659', 'D1669', 'D1671', 'D1672', 'D1686', 'D1693', 'D1700', 'D1715', 'D1719', 'D1736', 'D1755', 'D1757', 'D1759', 'D1800', 'D1805', 'D1808', 'D1820', 'D1829', 'D1834', 'D1836', 'D1843', 'D1856', 'D1859', 'D1870', 'D1871', 'D1878', 'D1890', 'D1896', 'D1905', 'D1908', 'D1917', 'D1925', 'D1931', 'D1943', 'D1957', 'D1960', 'D1971', 'D1972', 'D1974', 'D1976', 'D1980', 'D1988', 'D1990', 'D1998', 'D2005', 'D2030', 'D2034', 'D2036', 'D2037', 'D2047', 'D2048', 'D2063', 'D2067', 'D2073', 'D2077', 'D2079', 'D2088', 'D2091', 'D2096', 'D2098', 'D2107', 'D2110', 'D2111', 'D2136', 'D2139', 'D2169', 'D2173', 'D2182', 'D2192', 'D2199', 'D2210', 'D2214', 'D2227', 'D2256', 'D2261', 'D2269', 'D2270', 'D2274', 'D2285', 'D2292', 'D2314', 'D2316', 'D2320', 'D2322', 'D2323', 'D2333', 'D2336', 'D2339', 'D2345', 'D2348', 'D2357', 'D2390', 'D2398', 'D2410', 'D2415', 'D2421', 'D2422', 'D2424', 'D2431', 'D2440', 'D2449', 'D2451', 'D2456', 'D2457', 'D2458', 'D2459', 'D2472', 'D2483', 'D2500', 'D2502', 'D2507', 'D2508', 'D2509', 'D2517', 'D2521', 'D2528', 'D2533', 'D2540', 'D2543', 'D2561', 'D2577', 'D2584', 'D2586', 'D2588', 'D2599', 'D2601', 'D2602', 'D2611', 'D2621', 'D2625', 'D2627', 'D2633', 'D2639', 'D2660', 'D2675', 'D2678', 'D2679', 'D2685', 'D2688', 'D2699', 'D2718', 'D2724', 'D2725', 'D2728', 'D2733', 'D2741', 'D2784', 'D2793', 'D2801', 'D2804', 'D2811', 'D2814', 'D2816', 'D2828', 'D2830', 'D2831', 'D2834', 'D2836', 'D2837', 'D2842', 'D2843', 'D2853', 'D2861', 'D2866', 'D2868', 'D2872', 'D2874', 'D2883', 'D2894', 'D2896', 'D2906', 'D2907', 'D2911', 'D2919', 'D2928', 'D2951', 'D2997', 'D2998', 'D3009', 'D3021', 'D3022', 'D3029', 'D3032', 'D3038', 'D3041', 'D3043', 'D3050', 'D3056', 'D3060', 'D3094', 'D3095', 'D3098', 'D3103', 'D3138', 'D3153', 'D3155', 'D3159', 'D3170', 'D3187', 'D3189', 'D3196', 'D3199', 'D3200', 'D3201', 'D3204', 'D3208', 'D3218', 'D3227', 'D3231', 'D3251', 'D3262', 'D3274', 'D3303', 'D3308', 'D3318', 'D3319', 'D3325', 'D3355', 'D3370', 'D3372', 'D3385', 'D3397', 'D3413', 'D3416', 'D3462', 'D3463', 'D3468', 'D3470', 'D3480', 'D3481', 'D3491', 'D3504', 'D3506', 'D3520', 'D3531', 'D3541', 'D3551', 'D3553', 'D3557', 'D3566', 'D3571', 'D3572', 'D3581', 'D3592', 'D3602', 'D3605', 'D3607', 'D3632', 'D3633', 'D3644', 'D3646', 'D3652', 'D3653', 'D3657', 'D3659', 'D3660', 'D3673', 'D3679', 'D3685', 'D3690', 'D3691', 'D3696', 'D3698', 'D3700', 'D3707', 'D3710', 'D3712', 'D3726', 'D3735', 'D3739', 'D3754', 'D3756', 'D3763', 'D3766', 'D3786', 'D3808', 'D3809', 'D3811', 'D3814', 'D3822', 'D3828', 'D3832', 'D3833', 'D3839', 'D3845', 'D3851', 'D3852', 'D3866', 'D3883', 'D3893', 'D3900', 'D3901', 'D3915', 'D3916', 'D3924', 'D3931', 'D3932', 'D3933', 'D3945', 'D3959', 'D3966', 'D3980', 'D3983', 'D3992', 'D3993', 'D3999', 'D4007', 'D4013', 'D4017', 'D4029', 'D4030', 'D4043', 'D4057', 'D4078', 'D4086', 'D4116', 'D4121', 'D4129', 'D4137', 'D4142', 'D4152', 'D4199', 'D4211', 'D4213', 'D4219', 'D4230', 'D4239', 'D4241', 'D4243', 'D4248', 'D4249', 'D4271', 'D4272', 'D4275', 'D4277', 'D4287', 'D4292', 'D4303', 'D4306', 'D4309', 'D4331', 'D4334', 'D4337', 'D4364', 'D4369', 'D4373', 'D4387', 'D4393', 'D4394', 'D4397', 'D4422', 'D4427', 'D4434', 'D4448', 'D4450', 'D4453', 'D4457', 'D4473', 'D4478', 'D4481', 'D4485', 'D4497', 'D4500', 'D4503', 'D4506', 'D4508', 'D4512', 'D4529', 'D4538', 'D4544', 'D4552', 'D4560', 'D4584', 'D4610', 'D4625', 'D4630', 'D4639', 'D4641', 'D4648', 'D4666', 'D4685', 'D4687', 'D4688', 'D4691', 'D4698', 'D4702', 'D4726', 'D4731', 'D4739', 'D4746', 'D4753', 'D4763', 'D4766', 'D4767', 'D4771', 'D4784', 'D4786', 'D4789', 'D4808', 'D4812', 'D4814', 'D4832', 'D4836', 'D4837', 'D4842', 'D4858', 'D4881', 'D4882', 'D4891', 'D4894', 'D4900', 'D4901', 'D4908', 'D4936', 'D4957', 'D4962', 'D4972', 'D4976', 'D4984', 'D4987', 'D4990', 'D4997', 'D4998', 'D4999', 'D5012', 'D5025', 'D5040', 'D5043', 'D5047', 'D5053', 'D5058', 'D5084', 'D5094', 'D5101', 'D5115', 'D5122', 'D5160', 'D5173', 'D5178', 'D5183', 'D5184', 'D5187', 'D5189', 'D5190', 'D5204', 'D5207', 'D5209', 'D5213', 'D5215', 'D5224', 'D5228', 'D5238', 'D5243', 'D5258', 'D5259', 'D5262', 'D5269', 'D5280', 'D5281', 'D5282', 'D5291', 'D5292', 'D5296', 'D5308', 'D5310', 'D5316', 'D5341', 'D5346', 'D5354', 'D5358', 'D5393', 'D5398', 'D5409', 'D5418', 'D5425', 'D5433', 'D5439', 'D5449', 'D5451', 'D5455', 'D5457', 'D5464', 'D5465', 'D5472', 'D5476', 'D5479', 'D5482', 'D5484', 'D5487', 'D5503', 'D5509', 'D5523', 'D5532', 'D5537', 'D5540', 'D5551', 'D5554', 'D5564', 'D5572']

In [110]:
retrieved_doc_0 = frame[(frame['Cluster Number'] == 0)]['docID']
docgroup0 = []
for i in retrieved_doc_0:
  docgroup0.append(i)

In [111]:
print('Dokumen untuk grup 0:')
print(docgroup0)

Dokumen untuk grup 0:
['D17', 'D21', 'D59', 'D60', 'D64', 'D74', 'D76', 'D84', 'D90', 'D109', 'D112', 'D124', 'D126', 'D128', 'D131', 'D137', 'D149', 'D157', 'D163', 'D182', 'D187', 'D196', 'D200', 'D205', 'D218', 'D221', 'D233', 'D255', 'D256', 'D275', 'D279', 'D294', 'D306', 'D320', 'D325', 'D327', 'D331', 'D343', 'D355', 'D369', 'D376', 'D395', 'D402', 'D403', 'D428', 'D438', 'D446', 'D449', 'D451', 'D477', 'D482', 'D495', 'D496', 'D498', 'D500', 'D503', 'D507', 'D508', 'D532', 'D546', 'D557', 'D573', 'D577', 'D586', 'D589', 'D597', 'D613', 'D633', 'D636', 'D638', 'D658', 'D679', 'D682', 'D693', 'D698', 'D716', 'D728', 'D736', 'D741', 'D754', 'D755', 'D759', 'D761', 'D772', 'D786', 'D790', 'D793', 'D823', 'D835', 'D841', 'D848', 'D862', 'D889', 'D891', 'D892', 'D906', 'D909', 'D912', 'D915', 'D933', 'D951', 'D965', 'D969', 'D977', 'D984', 'D1009', 'D1015', 'D1023', 'D1040', 'D1042', 'D1043', 'D1051', 'D1080', 'D1088', 'D1093', 'D1096', 'D1110', 'D1118', 'D1121', 'D1123', 'D1131', 'D1138', 'D1147', 'D1159', 'D1161', 'D1162', 'D1165', 'D1167', 'D1179', 'D1181', 'D1188', 'D1189', 'D1191', 'D1195', 'D1196', 'D1197', 'D1209', 'D1217', 'D1223', 'D1228', 'D1238', 'D1245', 'D1255', 'D1257', 'D1258', 'D1259', 'D1260', 'D1263', 'D1264', 'D1284', 'D1285', 'D1286', 'D1290', 'D1291', 'D1327', 'D1329', 'D1331', 'D1334', 'D1340', 'D1341', 'D1345', 'D1369', 'D1377', 'D1379', 'D1392', 'D1425', 'D1426', 'D1434', 'D1445', 'D1450', 'D1451', 'D1474', 'D1476', 'D1477', 'D1478', 'D1490', 'D1515', 'D1516', 'D1530', 'D1532', 'D1534', 'D1539', 'D1543', 'D1545', 'D1555', 'D1559', 'D1567', 'D1572', 'D1583', 'D1593', 'D1606', 'D1607', 'D1610', 'D1618', 'D1629', 'D1631', 'D1639', 'D1643', 'D1661', 'D1664', 'D1677', 'D1682', 'D1684', 'D1690', 'D1698', 'D1703', 'D1723', 'D1726', 'D1733', 'D1745', 'D1748', 'D1756', 'D1774', 'D1777', 'D1783', 'D1786', 'D1789', 'D1795', 'D1798', 'D1806', 'D1811', 'D1814', 'D1815', 'D1821', 'D1823', 'D1831', 'D1835', 'D1838', 'D1892', 'D1898', 'D1900', 'D1910', 'D1934', 'D1950', 'D1966', 'D1967', 'D1975', 'D1997', 'D2020', 'D2024', 'D2025', 'D2050', 'D2057', 'D2081', 'D2083', 'D2097', 'D2101', 'D2104', 'D2106', 'D2123', 'D2127', 'D2138', 'D2141', 'D2143', 'D2149', 'D2150', 'D2151', 'D2154', 'D2155', 'D2162', 'D2175', 'D2197', 'D2200', 'D2217', 'D2218', 'D2228', 'D2229', 'D2242', 'D2245', 'D2249', 'D2271', 'D2277', 'D2283', 'D2293', 'D2295', 'D2298', 'D2307', 'D2319', 'D2321', 'D2325', 'D2331', 'D2332', 'D2335', 'D2346', 'D2349', 'D2351', 'D2383', 'D2387', 'D2388', 'D2394', 'D2400', 'D2406', 'D2409', 'D2428', 'D2430', 'D2442', 'D2443', 'D2450', 'D2460', 'D2462', 'D2467', 'D2470', 'D2484', 'D2487', 'D2492', 'D2506', 'D2516', 'D2531', 'D2535', 'D2537', 'D2538', 'D2562', 'D2566', 'D2594', 'D2609', 'D2613', 'D2623', 'D2628', 'D2636', 'D2640', 'D2645', 'D2648', 'D2659', 'D2661', 'D2662', 'D2663', 'D2682', 'D2684', 'D2698', 'D2721', 'D2727', 'D2736', 'D2740', 'D2747', 'D2748', 'D2750', 'D2756', 'D2759', 'D2761', 'D2766', 'D2780', 'D2795', 'D2820', 'D2826', 'D2833', 'D2840', 'D2841', 'D2851', 'D2873', 'D2879', 'D2882', 'D2895', 'D2900', 'D2922', 'D2923', 'D2926', 'D2927', 'D2940', 'D2943', 'D2952', 'D2966', 'D2970', 'D2988', 'D2993', 'D2995', 'D3000', 'D3004', 'D3027', 'D3028', 'D3033', 'D3046', 'D3057', 'D3062', 'D3064', 'D3067', 'D3070', 'D3074', 'D3080', 'D3082', 'D3087', 'D3089', 'D3097', 'D3099', 'D3105', 'D3111', 'D3116', 'D3124', 'D3126', 'D3130', 'D3133', 'D3139', 'D3144', 'D3149', 'D3151', 'D3162', 'D3172', 'D3174', 'D3177', 'D3192', 'D3194', 'D3206', 'D3209', 'D3212', 'D3217', 'D3225', 'D3233', 'D3238', 'D3253', 'D3254', 'D3271', 'D3278', 'D3280', 'D3290', 'D3300', 'D3312', 'D3327', 'D3330', 'D3338', 'D3342', 'D3343', 'D3349', 'D3353', 'D3360', 'D3368', 'D3374', 'D3376', 'D3378', 'D3388', 'D3392', 'D3393', 'D3395', 'D3399', 'D3401', 'D3405', 'D3411', 'D3417', 'D3425', 'D3434', 'D3437', 'D3438', 'D3440', 'D3464', 'D3472', 'D3489', 'D3499', 'D3507', 'D3518', 'D3524', 'D3527', 'D3534', 'D3554', 'D3561', 'D3577', 'D3583', 'D3600', 'D3614', 'D3620', 'D3624', 'D3629', 'D3637', 'D3654', 'D3669', 'D3670', 'D3677', 'D3683', 'D3687', 'D3692', 'D3704', 'D3709', 'D3720', 'D3732', 'D3742', 'D3752', 'D3755', 'D3758', 'D3767', 'D3771', 'D3772', 'D3774', 'D3780', 'D3782', 'D3783', 'D3788', 'D3794', 'D3815', 'D3817', 'D3819', 'D3835', 'D3843', 'D3849', 'D3856', 'D3867', 'D3869', 'D3876', 'D3882', 'D3884', 'D3887', 'D3888', 'D3894', 'D3897', 'D3902', 'D3907', 'D3913', 'D3926', 'D3929', 'D3934', 'D3940', 'D3942', 'D3965', 'D3967', 'D3972', 'D3974', 'D3985', 'D3995', 'D3997', 'D4005', 'D4012', 'D4025', 'D4034', 'D4036', 'D4045', 'D4049', 'D4053', 'D4063', 'D4069', 'D4092', 'D4094', 'D4095', 'D4098', 'D4100', 'D4122', 'D4128', 'D4154', 'D4160', 'D4166', 'D4178', 'D4180', 'D4194', 'D4198', 'D4204', 'D4206', 'D4209', 'D4216', 'D4223', 'D4228', 'D4229', 'D4244', 'D4245', 'D4250', 'D4254', 'D4258', 'D4267', 'D4285', 'D4291', 'D4307', 'D4321', 'D4322', 'D4324', 'D4338', 'D4339', 'D4345', 'D4349', 'D4352', 'D4375', 'D4377', 'D4379', 'D4388', 'D4389', 'D4396', 'D4415', 'D4425', 'D4426', 'D4439', 'D4442', 'D4445', 'D4454', 'D4456', 'D4468', 'D4469', 'D4471', 'D4479', 'D4486', 'D4489', 'D4492', 'D4493', 'D4502', 'D4507', 'D4513', 'D4522', 'D4534', 'D4535', 'D4556', 'D4562', 'D4564', 'D4567', 'D4579', 'D4592', 'D4593', 'D4597', 'D4599', 'D4602', 'D4604', 'D4640', 'D4655', 'D4661', 'D4667', 'D4671', 'D4674', 'D4676', 'D4677', 'D4679', 'D4681', 'D4690', 'D4697', 'D4699', 'D4701', 'D4706', 'D4709', 'D4717', 'D4718', 'D4723', 'D4729', 'D4735', 'D4744', 'D4749', 'D4787', 'D4791', 'D4794', 'D4803', 'D4821', 'D4826', 'D4834', 'D4844', 'D4848', 'D4857', 'D4863', 'D4873', 'D4877', 'D4893', 'D4903', 'D4906', 'D4912', 'D4921', 'D4923', 'D4928', 'D4930', 'D4932', 'D4980', 'D4981', 'D4982', 'D4988', 'D4989', 'D4993', 'D4995', 'D5009', 'D5010', 'D5016', 'D5019', 'D5021', 'D5024', 'D5031', 'D5032', 'D5037', 'D5039', 'D5041', 'D5045', 'D5050', 'D5060', 'D5062', 'D5065', 'D5068', 'D5071', 'D5075', 'D5104', 'D5111', 'D5119', 'D5124', 'D5127', 'D5128', 'D5129', 'D5131', 'D5135', 'D5136', 'D5145', 'D5152', 'D5159', 'D5164', 'D5168', 'D5170', 'D5188', 'D5217', 'D5219', 'D5230', 'D5235', 'D5245', 'D5263', 'D5266', 'D5268', 'D5274', 'D5284', 'D5290', 'D5294', 'D5297', 'D5327', 'D5328', 'D5333', 'D5338', 'D5339', 'D5345', 'D5349', 'D5350', 'D5361', 'D5363', 'D5370', 'D5381', 'D5382', 'D5383', 'D5389', 'D5390', 'D5392', 'D5407', 'D5415', 'D5422', 'D5423', 'D5435', 'D5437', 'D5448', 'D5458', 'D5470', 'D5471', 'D5473', 'D5478', 'D5489', 'D5491', 'D5497', 'D5499', 'D5508', 'D5510', 'D5512', 'D5513', 'D5524', 'D5528', 'D5530', 'D5531', 'D5533', 'D5535', 'D5546', 'D5549']

In [112]:
retrieved_doc_4 = frame[(frame['Cluster Number'] == 4)]['docID']
docgroup4 = []
for i in retrieved_doc_4:
  docgroup4.append(i)

In [113]:
print('Dokumen untuk grup 4:')
print(docgroup4)

Dokumen untuk grup 4:
['D4', 'D5', 'D15', 'D24', 'D31', 'D41', 'D51', 'D58', 'D72', 'D77', 'D78', 'D81', 'D83', 'D86', 'D98', 'D100', 'D110', 'D125', 'D142', 'D145', 'D148', 'D150', 'D151', 'D162', 'D166', 'D169', 'D175', 'D183', 'D184', 'D191', 'D192', 'D193', 'D208', 'D215', 'D216', 'D223', 'D236', 'D245', 'D248', 'D251', 'D257', 'D260', 'D266', 'D271', 'D277', 'D280', 'D291', 'D295', 'D297', 'D300', 'D303', 'D310', 'D318', 'D330', 'D337', 'D339', 'D340', 'D352', 'D360', 'D377', 'D383', 'D387', 'D392', 'D394', 'D408', 'D411', 'D412', 'D418', 'D423', 'D435', 'D439', 'D444', 'D445', 'D459', 'D460', 'D461', 'D470', 'D476', 'D483', 'D484', 'D485', 'D511', 'D512', 'D518', 'D522', 'D523', 'D526', 'D534', 'D548', 'D549', 'D556', 'D558', 'D559', 'D575', 'D576', 'D581', 'D585', 'D588', 'D590', 'D598', 'D600', 'D601', 'D607', 'D609', 'D610', 'D621', 'D624', 'D625', 'D631', 'D641', 'D643', 'D644', 'D650', 'D651', 'D662', 'D663', 'D664', 'D665', 'D666', 'D671', 'D672', 'D675', 'D676', 'D680', 'D681', 'D689', 'D697', 'D699', 'D701', 'D702', 'D706', 'D715', 'D717', 'D724', 'D727', 'D729', 'D731', 'D732', 'D737', 'D738', 'D744', 'D745', 'D746', 'D752', 'D753', 'D757', 'D768', 'D774', 'D784', 'D785', 'D792', 'D795', 'D798', 'D799', 'D809', 'D812', 'D818', 'D847', 'D852', 'D853', 'D860', 'D861', 'D865', 'D868', 'D873', 'D887', 'D893', 'D897', 'D904', 'D908', 'D914', 'D922', 'D925', 'D927', 'D932', 'D937', 'D939', 'D946', 'D949', 'D950', 'D954', 'D959', 'D961', 'D970', 'D973', 'D980', 'D982', 'D985', 'D986', 'D995', 'D996', 'D1004', 'D1005', 'D1012', 'D1025', 'D1031', 'D1032', 'D1033', 'D1041', 'D1044', 'D1045', 'D1046', 'D1054', 'D1056', 'D1059', 'D1061', 'D1062', 'D1073', 'D1075', 'D1077', 'D1081', 'D1095', 'D1099', 'D1101', 'D1103', 'D1111', 'D1112', 'D1113', 'D1114', 'D1115', 'D1126', 'D1129', 'D1132', 'D1148', 'D1150', 'D1152', 'D1168', 'D1171', 'D1173', 'D1180', 'D1198', 'D1201', 'D1203', 'D1224', 'D1226', 'D1231', 'D1232', 'D1234', 'D1240', 'D1242', 'D1250', 'D1270', 'D1278', 'D1282', 'D1296', 'D1297', 'D1299', 'D1300', 'D1302', 'D1305', 'D1310', 'D1314', 'D1326', 'D1333', 'D1338', 'D1343', 'D1346', 'D1347', 'D1357', 'D1361', 'D1362', 'D1370', 'D1387', 'D1389', 'D1395', 'D1396', 'D1398', 'D1411', 'D1414', 'D1420', 'D1424', 'D1433', 'D1435', 'D1440', 'D1443', 'D1446', 'D1452', 'D1473', 'D1485', 'D1493', 'D1494', 'D1504', 'D1520', 'D1526', 'D1529', 'D1531', 'D1540', 'D1554', 'D1556', 'D1562', 'D1564', 'D1576', 'D1577', 'D1581', 'D1582', 'D1584', 'D1585', 'D1587', 'D1589', 'D1596', 'D1603', 'D1604', 'D1611', 'D1619', 'D1621', 'D1624', 'D1632', 'D1636', 'D1660', 'D1674', 'D1676', 'D1685', 'D1695', 'D1711', 'D1713', 'D1717', 'D1729', 'D1740', 'D1742', 'D1750', 'D1758', 'D1760', 'D1782', 'D1784', 'D1793', 'D1794', 'D1799', 'D1804', 'D1810', 'D1841', 'D1844', 'D1845', 'D1846', 'D1848', 'D1849', 'D1861', 'D1862', 'D1864', 'D1867', 'D1872', 'D1874', 'D1881', 'D1882', 'D1885', 'D1887', 'D1889', 'D1899', 'D1902', 'D1903', 'D1906', 'D1921', 'D1928', 'D1932', 'D1933', 'D1935', 'D1936', 'D1937', 'D1939', 'D1945', 'D1951', 'D1952', 'D1955', 'D1962', 'D1963', 'D1981', 'D1989', 'D1996', 'D2002', 'D2008', 'D2009', 'D2014', 'D2026', 'D2029', 'D2031', 'D2033', 'D2038', 'D2041', 'D2045', 'D2046', 'D2056', 'D2058', 'D2061', 'D2068', 'D2072', 'D2076', 'D2082', 'D2086', 'D2120', 'D2130', 'D2140', 'D2152', 'D2171', 'D2174', 'D2176', 'D2178', 'D2187', 'D2188', 'D2195', 'D2196', 'D2202', 'D2212', 'D2215', 'D2216', 'D2222', 'D2224', 'D2225', 'D2237', 'D2240', 'D2246', 'D2250', 'D2251', 'D2253', 'D2260', 'D2262', 'D2268', 'D2273', 'D2278', 'D2279', 'D2280', 'D2282', 'D2302', 'D2303', 'D2317', 'D2337', 'D2338', 'D2340', 'D2341', 'D2350', 'D2355', 'D2358', 'D2369', 'D2375', 'D2377', 'D2385', 'D2392', 'D2396', 'D2399', 'D2405', 'D2411', 'D2416', 'D2417', 'D2426', 'D2429', 'D2436', 'D2445', 'D2447', 'D2455', 'D2466', 'D2468', 'D2485', 'D2496', 'D2498', 'D2499', 'D2512', 'D2515', 'D2518', 'D2522', 'D2524', 'D2527', 'D2532', 'D2542', 'D2544', 'D2551', 'D2553', 'D2554', 'D2559', 'D2563', 'D2570', 'D2572', 'D2579', 'D2580', 'D2587', 'D2592', 'D2597', 'D2598', 'D2607', 'D2614', 'D2619', 'D2629', 'D2631', 'D2634', 'D2646', 'D2651', 'D2657', 'D2666', 'D2667', 'D2668', 'D2690', 'D2692', 'D2696', 'D2703', 'D2704', 'D2710', 'D2714', 'D2720', 'D2722', 'D2731', 'D2737', 'D2739', 'D2746', 'D2752', 'D2758', 'D2769', 'D2771', 'D2772', 'D2775', 'D2785', 'D2790', 'D2796', 'D2799', 'D2810', 'D2824', 'D2832', 'D2845', 'D2846', 'D2847', 'D2850', 'D2860', 'D2862', 'D2864', 'D2881', 'D2884', 'D2887', 'D2888', 'D2889', 'D2890', 'D2892', 'D2898', 'D2903', 'D2913', 'D2916', 'D2917', 'D2918', 'D2921', 'D2930', 'D2931', 'D2938', 'D2944', 'D2949', 'D2955', 'D2973', 'D2975', 'D2978', 'D2979', 'D2983', 'D2992', 'D2999', 'D3006', 'D3011', 'D3012', 'D3015', 'D3026', 'D3034', 'D3036', 'D3037', 'D3065', 'D3068', 'D3069', 'D3071', 'D3072', 'D3092', 'D3104', 'D3112', 'D3123', 'D3141', 'D3157', 'D3158', 'D3178', 'D3180', 'D3185', 'D3215', 'D3219', 'D3223', 'D3240', 'D3247', 'D3252', 'D3255', 'D3257', 'D3260', 'D3267', 'D3268', 'D3270', 'D3273', 'D3276', 'D3283', 'D3284', 'D3292', 'D3301', 'D3309', 'D3314', 'D3316', 'D3329', 'D3335', 'D3337', 'D3341', 'D3344', 'D3348', 'D3356', 'D3357', 'D3364', 'D3365', 'D3379', 'D3391', 'D3403', 'D3406', 'D3421', 'D3427', 'D3428', 'D3435', 'D3444', 'D3450', 'D3456', 'D3458', 'D3459', 'D3465', 'D3466', 'D3473', 'D3488', 'D3498', 'D3503', 'D3505', 'D3511', 'D3513', 'D3515', 'D3519', 'D3521', 'D3523', 'D3533', 'D3535', 'D3552', 'D3556', 'D3558', 'D3567', 'D3568', 'D3569', 'D3574', 'D3578', 'D3579', 'D3582', 'D3590', 'D3591', 'D3593', 'D3601', 'D3604', 'D3608', 'D3618', 'D3625', 'D3626', 'D3634', 'D3639', 'D3647', 'D3648', 'D3650', 'D3655', 'D3656', 'D3665', 'D3675', 'D3705', 'D3711', 'D3715', 'D3716', 'D3718', 'D3722', 'D3725', 'D3727', 'D3728', 'D3729', 'D3730', 'D3733', 'D3738', 'D3740', 'D3743', 'D3745', 'D3747', 'D3751', 'D3753', 'D3760', 'D3791', 'D3793', 'D3799', 'D3802', 'D3803', 'D3813', 'D3816', 'D3836', 'D3841', 'D3848', 'D3850', 'D3858', 'D3862', 'D3868', 'D3870', 'D3871', 'D3874', 'D3877', 'D3878', 'D3881', 'D3891', 'D3898', 'D3906', 'D3909', 'D3912', 'D3928', 'D3936', 'D3939', 'D3941', 'D3944', 'D3947', 'D3948', 'D3953', 'D3956', 'D3958', 'D3963', 'D3964', 'D3973', 'D3979', 'D3981', 'D3987', 'D3991', 'D4001', 'D4015', 'D4016', 'D4020', 'D4024', 'D4026', 'D4027', 'D4028', 'D4031', 'D4032', 'D4033', 'D4038', 'D4050', 'D4066', 'D4079', 'D4096', 'D4099', 'D4104', 'D4110', 'D4114', 'D4118', 'D4123', 'D4125', 'D4127', 'D4134', 'D4135', 'D4138', 'D4157', 'D4158', 'D4159', 'D4167', 'D4172', 'D4174', 'D4175', 'D4177', 'D4179', 'D4181', 'D4182', 'D4183', 'D4187', 'D4188', 'D4190', 'D4222', 'D4224', 'D4225', 'D4227', 'D4232', 'D4233', 'D4234', 'D4238', 'D4246', 'D4266', 'D4269', 'D4278', 'D4284', 'D4288', 'D4289', 'D4308', 'D4312', 'D4313', 'D4323', 'D4332', 'D4336', 'D4340', 'D4341', 'D4359', 'D4361', 'D4362', 'D4365', 'D4366', 'D4368', 'D4374', 'D4381', 'D4383', 'D4391', 'D4399', 'D4410', 'D4412', 'D4414', 'D4418', 'D4420', 'D4421', 'D4424', 'D4444', 'D4447', 'D4464', 'D4465', 'D4475', 'D4476', 'D4477', 'D4480', 'D4482', 'D4484', 'D4488', 'D4504', 'D4505', 'D4509', 'D4510', 'D4514', 'D4515', 'D4524', 'D4532', 'D4537', 'D4539', 'D4543', 'D4548', 'D4554', 'D4573', 'D4575', 'D4595', 'D4596', 'D4603', 'D4609', 'D4611', 'D4612', 'D4616', 'D4619', 'D4621', 'D4622', 'D4626', 'D4632', 'D4633', 'D4636', 'D4638', 'D4643', 'D4650', 'D4652', 'D4653', 'D4654', 'D4656', 'D4670', 'D4680', 'D4682', 'D4683', 'D4689', 'D4696', 'D4700', 'D4704', 'D4705', 'D4707', 'D4710', 'D4713', 'D4714', 'D4721', 'D4722', 'D4730', 'D4733', 'D4736', 'D4742', 'D4755', 'D4761', 'D4790', 'D4792', 'D4798', 'D4805', 'D4806', 'D4815', 'D4817', 'D4827', 'D4829', 'D4831', 'D4841', 'D4846', 'D4847', 'D4851', 'D4856', 'D4860', 'D4864', 'D4880', 'D4896', 'D4899', 'D4915', 'D4919', 'D4924', 'D4926', 'D4935', 'D4937', 'D4939', 'D4943', 'D4946', 'D4947', 'D4960', 'D4963', 'D4965', 'D4969', 'D4971', 'D4977', 'D4985', 'D4994', 'D5002', 'D5005', 'D5007', 'D5008', 'D5013', 'D5017', 'D5018', 'D5028', 'D5029', 'D5030', 'D5033', 'D5035', 'D5042', 'D5051', 'D5064', 'D5067', 'D5073', 'D5074', 'D5081', 'D5088', 'D5093', 'D5107', 'D5108', 'D5110', 'D5117', 'D5118', 'D5132', 'D5139', 'D5150', 'D5154', 'D5161', 'D5162', 'D5163', 'D5166', 'D5172', 'D5175', 'D5185', 'D5186', 'D5192', 'D5198', 'D5200', 'D5205', 'D5212', 'D5216', 'D5220', 'D5223', 'D5227', 'D5234', 'D5236', 'D5239', 'D5240', 'D5241', 'D5248', 'D5249', 'D5250', 'D5253', 'D5254', 'D5257', 'D5277', 'D5299', 'D5303', 'D5306', 'D5317', 'D5321', 'D5323', 'D5324', 'D5332', 'D5337', 'D5340', 'D5351', 'D5362', 'D5365', 'D5372', 'D5373', 'D5378', 'D5384', 'D5387', 'D5397', 'D5399', 'D5404', 'D5405', 'D5412', 'D5419', 'D5421', 'D5424', 'D5426', 'D5427', 'D5431', 'D5438', 'D5440', 'D5441', 'D5445', 'D5446', 'D5453', 'D5454', 'D5459', 'D5462', 'D5474', 'D5481', 'D5505', 'D5520', 'D5522', 'D5526', 'D5543', 'D5544', 'D5559', 'D5563', 'D5565', 'D5569']

# Rank for Q3

In [114]:
test= pd.read_csv('term_doc_matrix.csv')
test = test.set_index('Unnamed: 0')
test

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4
Unnamed: 0,,,,,,,,,,,,
aa,7,14,11,7,5,44,-3.137504,NaN,NaN,NaN,NaN,NaN
aah,0,3,2,0,2,7,-0.485427,NaN,NaN,NaN,NaN,NaN
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
,17,11,82,22,47,179,-5.161888,NaN,NaN,NaN,NaN,NaN
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662
,8,2,18,9,16,53,-3.405992,NaN,NaN,NaN,NaN,NaN
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323

In [115]:
query= "wifehow knew time"
similarity_index = ''
similarity_index = query_score(test,query_processing(query))
similarity_index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in log2

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4,query_tf_idf
Unnamed: 0,,,,,,,,,,,,,
aa,7,14,11,7,5,44,-3.137504,NaN,NaN,NaN,NaN,NaN,0.0
aah,0,3,2,0,2,7,-0.485427,NaN,NaN,NaN,NaN,NaN,0.0
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.0
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000,0.0
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
,17,11,82,22,47,179,-5.161888,NaN,NaN,NaN,NaN,NaN,0.0
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644,0.0
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662,0.0
,8,2,18,9,16,53,-3.405992,NaN,NaN,NaN,NaN,NaN,0.0
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323,0.0

In [116]:
similarity_index = similarity_index.dropna(0)
similarity_index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  """Entry point for launching an IPython kernel.

,Group0,Group1,Group2,Group3,Group4,document_frequency,inverse_document_frequency,tf_idf_Group0,tf_idf_Group1,tf_idf_Group2,tf_idf_Group3,tf_idf_Group4,query_tf_idf
Unnamed: 0,,,,,,,,,,,,,
aaniy,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.0
aaooooright,0,1,0,0,0,1,2.321928,0.000000,1.215323,0.000000,0.0,0.000000,0.0
aathilov,3,0,0,0,0,3,0.736966,-0.880662,-0.000000,-0.000000,-0.0,-0.000000,0.0
aathiwh,0,3,0,0,0,3,0.736966,-0.000000,-0.880662,-0.000000,-0.0,-0.000000,0.0
abbey,1,0,0,0,0,1,2.321928,1.215323,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
morrow,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.0
rent,0,0,1,0,0,1,2.321928,0.000000,0.000000,1.215323,0.0,0.000000,0.0
ll,1,0,0,0,1,2,1.321928,0.402644,0.000000,0.000000,0.0,0.402644,0.0
,0,0,0,0,3,3,0.736966,-0.000000,-0.000000,-0.000000,-0.0,-0.880662,0.0
ll,0,0,0,0,1,1,2.321928,0.000000,0.000000,0.000000,0.0,1.215323,0.0

In [117]:
def cosine_similarity(vocab_index, document_index, query_scores):
    """
    Calculates cosine similarity between the documents and query
    
    parameter:
        
        vocab_index: DataFrame.
        DataFrame containing tf-idf score per term for every document and for the query terms.
        
        document_index: list.
        List of document ids.
        
        query_scores: str.
        Column name in DataFrame containing query term tf-idf scores.
        
    returns:
        cosine_scores: Series.
        Cosine similarity scores of every document.
    """
    cosine_scores = {}
    
    query_scalar = np.sqrt(sum(vocab_index[query_scores] ** 2))
    
    for doc in document_index:
        
        doc_scalar = np.sqrt(sum(vocab_index[doc] ** 2))
        dot_prod = sum(vocab_index[doc] * vocab_index[query_scores])
        cosine = (dot_prod / (query_scalar * doc_scalar))
        
        cosine_scores[doc] = cosine
        
    return pd.Series(cosine_scores)

In [118]:
cosines = cosine_similarity(similarity_index, grupindf.groupID.values, 'query_tf_idf')
cosines

Group0    0.000000
Group1   -0.118493
Group2    0.000000
Group3    0.000000
Group4    0.000000
dtype: float64

In [119]:
def retrieve_index(data,cosine_scores, document_index):
    """
    Retrieves indices for the corresponding document cosine scores
    
    parameters:
        data: DataFrame.
        DataFrame containing document ids and text.
        
        cosine_scores: Series.
        Series containing document cosine scores.
        
        document_index: str.
        Column name containing document ids in data.
        
    returns:
        data: DataFrame.
        Original DataFrame with cosine scores added as column.
    """
    
    data = data.set_index(document_index)
    data['scores'] = cosine_scores

    import numpy as np

    data = data.loc[~(data==0).all(axis=1)]
    
    np.count_nonzero(df, axis=1)
    return data.reset_index().sort_values('scores',ascending=False).head()

In [120]:
indices = retrieve_index(grupindf, cosines, 'groupID')
indices

  groupID                                               text    scores
0  Group0  oh kim watch Ohio vigilserious spell name go n...  0.000000
2  Group2  go jurong point crazi avail bugi n great world...  0.000000
3  Group3  lol alway convinck tell anyth one_thousand sep...  0.000000
4  Group4  dun say ear hor alreadi say grayish_brown pron...  0.000000
1  Group1  im go tri month ha ha joke crack laughfffff... -0.118493

In [123]:
print('No Doc Retrieved')

No Doc Retrieved